<!--<div id="wrapper">

    <navbar></navbar>
    <eeh-navigation-navbar menu-name="'foo'"></eeh-navigation-navbar>

    <eeh-navigation-sidebar menu-name="'side'">
        <ui-view>
            <div id="page-wrapper" style="min-height: 511px;">

                <h1 class="page-header">{{ title }}</h1>

                <div ng-transclude></div>

            </div>
        </ui-view>
    </eeh-navigation-sidebar>

</div>-->
<div id="wrapper">

    <navbar></navbar>

    <div id="page-wrapper" style="min-height: 511px;">

        <h1 class="page-header">{{ title }}</h1>

        <div ng-transclude></div>

    </div>

</div>