<div class="slot-background">
    <div class="top">
        <img class="img-responsive" ng-src="/assets/images/coin/{{ image }}.png">
    </div>

    <div class="bottom {{ tier }}">
        {{ text }}
    </div>
</div>