.slot-background {
    height: 160px;
    width: 150px;
    overflow: hidden;
    position: relative;
    float: left;
    padding: 0 5px;
    //border: 1px solid #292828;
    .top {
        padding-top: 10px;
        background-color: #5d5d5d;
        height: 99px;
        border-bottom: 1px;
        border-color: #767676;
        border-bottom-style: solid;
        background: rgba(219, 219, 219, 1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(219, 219, 219, 1) 0%, rgba(140, 140, 140, 1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(219, 219, 219, 1)), color-stop(100%, rgba(140, 140, 140, 1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(219, 219, 219, 1) 0%, rgba(140, 140, 140, 1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(219, 219, 219, 1) 0%, rgba(140, 140, 140, 1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(219, 219, 219, 1) 0%, rgba(140, 140, 140, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(219, 219, 219, 1) 0%, rgba(140, 140, 140, 1) 100%);
    }
    .bottom {
        height: 50px;
        color: #efefef;
        text-shadow: 0 1px #484848;
        padding: 14px;
        text-align: center;
    }
    .common {
        background: linear-gradient(to right, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 0.5) 100%);
    }
    .uncommon {
        background: linear-gradient(to right, rgba(128, 128, 128, 1) 0%, rgba(128, 128, 128, 0.5) 100%);
    }
    .rare {
        background: linear-gradient(to right, rgba(38, 188, 73, 1) 0%, rgba(38, 188, 73, 0.5) 100%);
    }
    .epic {
        background: linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(30, 87, 153, 0.5) 100%);
    }
    .legendary {
        background: linear-gradient(to right, rgba(203, 50, 50, 1) 0%, rgba(203, 50, 50, 0.5) 100%);
    }
    .godlike {
        background: linear-gradient(to right, rgba(191, 138, 38, 1) 0%, rgba(191, 138, 38, 0.5) 100%);
    }
}