.news-related-content {
    position: relative;
    overflow-y: hidden;
    margin: 0 0 30px 0;
    cursor: pointer;
    border-bottom: 2px solid #3b68be;
    .text {
        margin: 5px;
        .blacked-text {
            background-color: #f8f7f7;
            padding: 4px;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        }
        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.6;
            width: 100%;
        }
        .title-container {
            .title-text {
                width: auto;
                display: inline-block;
                @extend .blacked-text;
            }
        }
        .blurb-text {
            width: auto;
            display: inline-block;
            @extend .blacked-text;
        }
    }
}