<div class="news-related-content" ui-sref="news.{{ post.category.replace(' ', '') }}.post({id: '{{ post._id }}'})">
    <div class="text">
        <img class="img-responsive background" ng-src="{{ post.thumbnailUrl }}" />
        <div class="title-container">
            <h3 class="title-text">{{ post.title }}</h3>
        </div>
    </div>
</div>