<navbar></navbar>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">Kick-start your next web app with Angular Fullstack</p>
        <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Features:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
                <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
            </ul>
        </div>
    </div>
</div>

<footer></footer>