<navbar></navbar>

<div class="container">
    <h1>Store</h1>

    <div class="row">
        <div class="col-sm-10">

            <form ng-submit="getItems()">
                <div class="input-group form-group">
                    <input type="text" class="form-control" ng-model="searchCriteria" placeholder="{{ 'STORE.SEARCH.FOR_ITEM' | translate }}">
                    <span class="input-group-btn"><button type="submit" class="btn btn-primary btn-height-fix" type="button" translate>STORE.SEARCH.BUTTON</button></span>
                </div>
            </form>

            <div class="text-center">
                <uib-pagination ng-hide="searchResults" total-items="itemsTotal" ng-model="currentPage" max-size="20" items-per-page="itemsLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changePage(currentPage)"></uib-pagination>
            </div>

            <div ng-repeat="storeItem in storeItems">
                <store-item item="storeItem" items-per-row="4"></store-item>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <uib-pagination ng-hide="searchResults" total-items="itemsTotal" ng-model="currentPage" max-size="20" items-per-page="itemsLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changePage(currentPage)"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2 side-nav-no-padding" id="leftCol">
            <div class="panel panel-default" role="complementary" data-offset-top="-80" data-offset-unpin="10" bs-affix>
                <div class="panel-body">
                    <label translate>STORE.ITEM_SUMMARY.SELECTED</label>
                    <p class="lead" translate>{{ itemUtilityService.getCount(storeItems) || 'None' }}</p>
                    <label translate>STORE.ITEM_SUMMARY.VALUE</label>
                    <p class="lead">{{ itemUtilityService.getTotalCostInCoins(storeItems) }} Coins</p>
                    <label translate>STORE.ITEM_SUMMARY.SORT_BY</label>
                    <select class="form-control input-sm" ng-model="sortCriteria" ng-change="getItems()">
                        <option value="price" translate>STORE.ITEM_SUMMARY.PRICE_ASC</option>
                        <option value="-price" translate>STORE.ITEM_SUMMARY.PRICE_DESC</option>
                    </select>
                    <!--<label translate>STORE.ITEM_SUMMARY.PRICE_RANGE</label>
                    <slider range="true" min="0" step="1" max="4000" ng-model="f"></slider>-->
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary btn-block" ng-click="buy()" translate ng-disabled="buying"><i ng-show="buying" class="fa fa-spinner fa-pulse fa-fw fa-lg"></i> STORE.ITEM_SUMMARY.BUY</button>
                </div>
            </div>
        </div>
    </div>

</div>

<footer></footer>