<div class="jackpot-select-item" ng-click="inventoryEntry.isSelected = !inventoryEntry.isSelected" ng-class="{ 'selected': inventoryEntry.isSelected == true, 'hoverable': inventoryEntry.isSelected == false || inventoryEntry.isSelected == undefined }">
    <div class="item">
        <div class="row">
            <div class="col-xs-4">
                <div class="icon">
                    <item-thumbnail src="inventoryEntry.item.iconUrl" alt="{{ inventoryItem.item.item.marketName }}"></item-thumbnail>
                </div>
            </div>

            <div class="col-xs-8">
                <div class="description">
                    <p class="name">
                        {{ inventoryEntry.item.item.marketName }}
                        <!--<br>{{ getWearFromName(inventoryEntry.item.item.marketName) }}-->
                    </p>
                    <p class="price">
                        {{ inventoryEntry.item.price.value | currency }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangle"></div>
    <div class="icon">
        <i ng-hide="inventoryEntry.isSelected" class="fa fa-plus"></i>
        <i ng-show="inventoryEntry.isSelected" class="fa fa-check"></i>
    </div>
</div>