.jackpot-select-item {
    margin-bottom: 7px;
    cursor: pointer;
    position: relative;
    border: 2px solid #889299;
    background-color: rgba(0, 0, 0, 0.4);
    .item {
        &:hover {}
        margin-bottom: 0px;
        color: aliceblue;
        overflow: hidden;
        .description {
            height: 100%;
            padding: 5px;
            margin: 5px 5px 5px 0;
            .name {
                font-size: 0.8em;
                color: #889299;
                height: 30px;
                text-shadow: 0px 1px #242424;
            }
            .price {
                font-size: 1.5em;
                text-shadow: 0px 1px #242424;
            }
            p {
                margin-bottom: 4px;
            }
        }
        .icon {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
    .triangle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 35px 35px;
        border-color: transparent transparent #889299 transparent;
    }
    .icon {
        position: absolute;
        bottom: 0;
        right: 5px;
        color: #212121;
    }
}

.selected {
    border: 2px solid #6ab93b;
    .triangle {
        border-color: transparent transparent #6ab93b transparent;
    }
}

.hoverable {
    &:hover {
        border: 2px solid #4d5b64;
        .triangle {
            border-color: transparent transparent #4d5b64 transparent;
        }
    }
}