<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" translate>LEADERBOARD.HALL_OF_FAME.PANEL.TITLE</div>
    <div class="panel-body">
        <p translate>LEADERBOARD.HALL_OF_FAME.PANEL.DESCRIPTION</p>
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th translate>LEADERBOARD.AVATAR</th>
                <th translate>LEADERBOARD.USERNAME</th>
                <th translate>LEADERBOARD.LOYALTY_POINTS</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="winner in winners">
                <th scope="row">{{ $index + 1 }}</th>
                <td><img ng-src="{{ winner.avatar.small }}" alt="{{ winner.name }}'s avatar" /></td>
                <td>{{ winner.name }}</td>
                <td>{{ winner.balance.loyalty }}</td>
            </tr>
        </tbody>
    </table>
</div>