<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><i class="fa fa-database fa-fw"></i> OPCrates&trade; Admin Panel</a>
    </div>

    <ul class="nav navbar-nav navbar-top-links navbar-right">
        <li ng-repeat="item in topMenu" uib-dropdown dropdown-append-to-body>
            <a class="dropdown-toggle" href uib-dropdown-toggle>
                <i class="fa fa-{{ item.fa }} fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages dropdown-menu-right">
                <li ng-repeat="subMenuItem in item.subMenu">
                    <a href>
                        <div>
                            <strong>John Smith</strong>
                            <span class="pull-right text-muted"><em>Yesterday</em></span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                    </a>
                </li>
                <li ng-repeat="subMenuItem in item.subMenu">
                    <a ui-sref="{{ subMenuItem.link }}">
                        <i class="fa fa-{{ subMenuItem.fa }} fa-fw"></i> {{ subMenuItem.title }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="custom-search-form">
                        <form ng-submit="directToPage()">
                            <input type="text" class="form-control" placeholder="Search..." ng-model="searchQuery" ng-change="search(searchQuery)" focus-me="true">
                        </form>
                    </div>
                </li>
                <li ng-show="searchResults" ng-repeat="menuItem in searchResults">
                    <a ng-hide="menuItem.subMenu" ui-sref="{{ menuItem.link || 'root' }}"><i class="fa fa-{{ menuItem.fa }} fa-fw"></i> {{ menuItem.title }}</a>
                    <a ng-show="menuItem.subMenu"><i class="fa fa-{{ menuItem.fa }} fa-fw"></i> {{ menuItem.title }}<span class="fa arrow"></span></a>
                    <ul ng-show="menuItem.subMenu" class="nav nav-second-level">
                        <li ng-repeat="subMenuItem in menuItem.subMenu">
                            <a ui-sref="{{ subMenuItem.link }}">{{ subMenuItem.title }}</a>
                        </li>
                    </ul>
                </li>
                <li ng-hide="searchResults" ng-repeat="menuItem in menu">
                    <a ng-hide="menuItem.subMenu" ui-sref="{{ menuItem.link || 'root' }}"><i class="fa fa-{{ menuItem.fa }} fa-fw"></i> {{ menuItem.title }}</a>
                    <a ng-show="menuItem.subMenu"><i class="fa fa-{{ menuItem.fa }} fa-fw"></i> {{ menuItem.title }}<span class="fa arrow"></span></a>
                    <ul ng-show="menuItem.subMenu" class="nav nav-second-level">
                        <li ng-repeat="subMenuItem in menuItem.subMenu">
                            <a ui-sref="{{ subMenuItem.link }}">{{ subMenuItem.title }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>