.faq {
    margin-top: 50px;
    margin-bottom: 50px;
    .bs-sidebar .nav > li > a {
        display: block;
        font-size: 1em;
        font-weight: 500;
        color: #646464;
        padding: 4px 15px;
        text-align: right;
    }
    a {
        &.anchor {
            display: block;
            position: relative;
            top: -60px;
            visibility: hidden;
        }
    }
}