<navbar></navbar>

<div class="container faq">
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">
            <div class="bs-sidebar affix" data-offset-top="-100" bs-affix style="position: fixed; top: 100px;">
                <ul class="nav">
                    <li data-target="#">
                        <a href="#" translate>FAQ.HEADING</a>
                    </li>
                    <hr style="margin: 2px 0;">
                    <li ng-repeat="faq in faqs" bs-scrollspy data-target="#{{ faq.tag }}">
                        <a href="#{{ faq.tag }}" translate>{{ faq.title }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-10">
            <div>
                <div class="page-header">
                    <h1 translate>FAQ.HEADING</h1>
                </div>
            </div>

            <div>
                <a class="anchor" id="deposit"></a>
                <div class="page-header">
                    <h2 translate>FAQ.DEPOSIT</h2>
                </div>
                <h3 translate>FAQ.HOW_MUCH_ARE_COINS_WORTH.QUESTION</h3>
                <p translate translate-compile>FAQ.HOW_MUCH_ARE_COINS_WORTH.ANSWER</p>

                <h3 translate>FAQ.HOW_ARE_PRICES_DETERMINED.QUESTION</h3>
                <p translate translate-compile>FAQ.HOW_ARE_PRICES_DETERMINED.ANSWER.PART_1</p>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Price</th>
                            <th>Coin conversion ratio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">$0.00 - $1.00</th>
                            <td>Not Accepted</td>
                        </tr>
                        <tr>
                            <th scope="row">$1.00 - $5.00</th>
                            <td>80% ($1 gives you 800 Coins)</td>
                        </tr>
                        <tr>
                            <th scope="row">$5.00 - $10.00</th>
                            <td>90% ($1 gives you 900 Coins)</td>
                        </tr>
                        <tr>
                            <th scope="row">$10.00+</th>
                            <td>100% ($1 gives you 1000 Coins)</td>
                        </tr>
                    </tbody>
                </table>

                <blockquote>
                    <p translate translate-compile>FAQ.HOW_ARE_PRICES_DETERMINED.ANSWER.PART_2</p>
                </blockquote>
                <p translate translate-compile>FAQ.HOW_ARE_PRICES_DETERMINED.ANSWER.PART_3</p>
                <p translate translate-compile>FAQ.HOW_ARE_PRICES_DETERMINED.ANSWER.PART_4</p>

                <h3 translate>FAQ.WHY_UNABLE_TO_DEPOSIT_SKINS.QUESTION</h3>
                <p translate translate-compile translate-values="{ 'mobileUrl': 'https://support.steampowered.com/kb_article.php?ref=4440-RTUI-9218', 'tradeUrl': 'http://steamcommunity.com/id/me/edit/settings' }">FAQ.WHY_UNABLE_TO_DEPOSIT_SKINS.ANSWER</p>
            </div>

            <div>
                <a class="anchor" id="crate"></a>
                <div class="page-header">
                    <h2 translate>FAQ.CRATE</h2>
                </div>
                <h3 translate>FAQ.CAN_I_REFUND_MY_COINS.QUESTION</h3>
                <p translate translate-compile>FAQ.CAN_I_REFUND_MY_COINS.ANSWER</p>
            </div>

            <div>
                <a class="anchor" id="referral"></a>
                <div class="page-header">
                    <h2 id="referral" translate>FAQ.REFERRAL</h2>
                </div>
                <h3 translate>FAQ.WHAT_IS_REFERRAL_SYSTEM.QUESTION</h3>
                <p translate translate-compile>FAQ.WHAT_IS_REFERRAL_SYSTEM.ANSWER</p>

                <h3 translate>FAQ.WHAT_ARE_REFERRAL_TIERS.QUESTION</h3>
                <p translate translate-compile>FAQ.WHAT_ARE_REFERRAL_TIERS.ANSWER.PART_1</p>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Unique depositors</th>
                            <th>Referral tier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">0-49</th>
                            <td>Bronze (1 Coin per 300 coins spent)</td>
                        </tr>
                        <tr>
                            <th scope="row">50-99</th>
                            <td>Gold (2 Coins per 300 coins spent)</td>
                        </tr>
                        <tr>
                            <th scope="row">100+</th>
                            <td>Diamond (3 Coins per 300 coins spent)</td>
                        </tr>
                    </tbody>
                </table>

                <blockquote>
                    <p translate translate-compile>FAQ.WHAT_ARE_REFERRAL_TIERS.ANSWER.PART_2</p>
                </blockquote>
                <p translate translate-compile>FAQ.WHAT_ARE_REFERRAL_TIERS.ANSWER.PART_3</p>
            </div>

            <div>
                <a class="anchor" id="jackpot"></a>
                <div class="page-header">
                    <h2 id="jackpot" translate>FAQ.JACKPOT</h2>
                </div>
                <h3 translate>FAQ.WHAT_IS_THE_SERVICE_FEE_FOR_JACKPOT.QUESTION</h3>
                <p translate translate-compile>FAQ.WHAT_IS_THE_SERVICE_FEE_FOR_JACKPOT.ANSWER</p>
            </div>
        </div>
    </div>
</div>

<footer></footer>