<navbar></navbar>

<div class="container">
    <h1>Leave a message</h1>
    <form name="leaveMessageForm" ng-hide="messageSubmitted" ng-submit="submitMessage()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" required/>
        </div>
        
        <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" placeholder="E-mail" required/>
        </div>

        <div class="form-group">
            <label>Mesasge</label>
            <textarea class="form-control" placeholder="Message" required></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-success">Submit</button>
        </div>
    </form>
    <div ng-show="messageSubmitted">
        Thank you for your message!
    </div>
</div>

<footer></footer>