<div>
    <div class="row news-post panel panel-default">
        <div class="col-xs-3 post-thumbnail">
            <div class="post-image">
                <img class="img-responsive" ng-src="{{ post.thumbnailUrl }}" />
            </div>
        </div>

        <div class="col-xs-9 post-body">
            <p class="date pull-right"><i class="fa fa-clock-o"></i> {{ post.date | date:'mediumDate' }}</p>
            <h3><a ui-sref="news.{{ post.category.replace(' ', '') }}.post({id: '{{ post._id }}'})">{{ post.title }} <span ng-show="post.label" class="label label-{{post.label.type}}">{{ post.label.text }}</span></a></h3>
            <p>{{ post.blurb }}...</p>
            <p ng-show="post.tags.length > 0"><strong>Tags:</strong> <span ng-show="!$last" ng-repeat="tag in post.tags">{{ tag }},&nbsp;</span><span ng-show="$last" ng-repeat="tag in post.tags">{{ tag }}</span></p>
        </div>
    </div>
</div>