<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img class="large-avatar" ng-src="{{ user.avatar.large }}" alt="The users avatar" />
            <h3><strong>{{ user.name }}</strong></h3>
            <h4><small>{{ user.steamId }}</small></h4>
            <div class="row">
                <div class="col-xs-5"><strong translate>ACCOUNT.PROFILE.COIN</strong></div>
                <div class="col-xs-7">
                    <p>{{ user.balance.premium }} Coins</p>
                </div>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" name="firstNameForm" ng-submit="editFirstName = false; changeName(firstNameForm)" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>ACCOUNT.PROFILE.FIRST_NAME</label>

                            <div class="col-sm-10">
                                <div class="input-group" ng-class="{ 'has-error': firstNameForm.$invalid }">
                                    <input type="text" name="firstName" class="form-control" ng-model="user.firstName" placeholder="{{ 'ACCOUNT.PROFILE.FIRST_NAME_NOT_SET' | translate }}" ng-disabled="!editFirstName" mongoose-error required/>
                                    <span class="input-group-btn">
                                        <button ng-show="editFirstName" class="btn btn-success btn-height-fix btn-group" type="submit" translate>ACCOUNT.PROFILE.SAVE</button>
                                        <button ng-hide="editFirstName" class="btn btn-primary btn-height-fix" type="button" ng-click="editFirstName = true">Edit</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form class="form-horizontal" name="lastNameForm" ng-submit="editLastName = false; changeName(lastNameForm)" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>ACCOUNT.PROFILE.LAST_NAME</label>

                            <div class="col-sm-10">
                                <div class="input-group" ng-class="{ 'has-error': lastNameForm.$invalid }">
                                    <input type="text" name="lastName" class="form-control" ng-model="user.lastName" placeholder="{{ 'ACCOUNT.PROFILE.LAST_NAME_NOT_SET' | translate }}" ng-disabled="!editLastName" mongoose-error required/>
                                    <span class="input-group-btn">
                                        <button ng-show="editLastName" class="btn btn-success btn-height-fix btn-group" type="submit" translate>ACCOUNT.PROFILE.SAVE</button>
                                        <button ng-hide="editLastName" class="btn btn-primary btn-height-fix" type="button" ng-click="editLastName = true">Edit</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form class="form-horizontal" name="emailForm" ng-submit="editEmail = false; changeEmail(emailForm)" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>ACCOUNT.PROFILE.EMAIL</label>

                            <div class="col-sm-10">
                                <div class="input-group" ng-class="{ 'has-error': emailForm.$invalid }">
                                    <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="{{ 'ACCOUNT.PROFILE.EMAIL_NOT_SET' | translate }}" ng-disabled="!editEmail" mongoose-error required/>
                                    <span class="input-group-btn">
                                        <button ng-show="editEmail" class="btn btn-success btn-height-fix btn-group" type="submit" translate>ACCOUNT.PROFILE.SAVE</button>
                                        <button ng-hide="editEmail" class="btn btn-primary btn-height-fix" type="button" ng-click="editEmail = true">Edit</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form class="form-horizontal" name="tradeUrlForm" ng-submit="editTradeUrl = false;changeTradeUrl(tradeUrlForm)" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>ACCOUNT.PROFILE.TRADE_URL</label>

                            <div class="col-sm-10">
                                <div class="input-group" ng-class="{ 'has-error': tradeUrlForm.$invalid }">
                                    <input type="text" name="tradeUrl" class="form-control" ng-model="user.tradeUrl" ng-pattern="/https:\/\/steamcommunity.com\/tradeoffer\/new\/\?partner=[0-9]+&token=.+/" placeholder="{{ 'ACCOUNT.PROFILE.TRADE_URL_NOT_SET' | translate }}" mongoose-error ng-disabled="!editTradeUrl" required/>

                                    <span class="input-group-btn">
                                        <button ng-show="editTradeUrl" class="btn btn-success btn-height-fix btn-group" type="submit" translate>ACCOUNT.PROFILE.SAVE</button>
                                        <button ng-hide="editTradeUrl" class="btn btn-primary btn-height-fix" type="button" ng-click="editTradeUrl = true">Edit</button>
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <span translate translate-values="{ url: 'http://steamcommunity.com/id/me/tradeoffers/privacy#trade_offer_access_url' }">ACCOUNT.PROFILE.FIND_TRADE_URL</span>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <hr />
                    </div>

                    <p translate>ACCOUNT.PROFILE.PRIVACY_POLICY</p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar progress-bar-success progress-bar-striped" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ completionPercent }}%;">
                            {{ completionPercent }}%
                        </div>
                    </div>

                    <p><i ng-hide="user.firstName" class="fa fa-square-o fa-fw"></i><i ng-show="user.firstName" class="fa fa-check-square-o fa-fw"></i> <span translate>ACCOUNT.PROFILE.FIRST_NAME_TASK</span></p>
                    <p><i ng-hide="user.lastName" class="fa fa-square-o fa-fw"></i><i ng-show="user.lastName" class="fa fa-check-square-o fa-fw"></i> <span translate>ACCOUNT.PROFILE.LAST_NAME_TASK</span></p>
                    <p><i ng-hide="user.email" class="fa fa-square-o fa-fw"></i><i ng-show="user.email" class="fa fa-check-square-o fa-fw"></i> <span translate>ACCOUNT.PROFILE.EMAIL_TASK</span></p>
                    <p><i ng-hide="user.tradeUrl" class="fa fa-square-o fa-fw"></i><i ng-show="user.tradeUrl" class="fa fa-check-square-o fa-fw"></i> <span translate>ACCOUNT.PROFILE.TRADE_URL_TASK</span></p>
                </div>
            </div>
        </div>
    </div>

</div>