.jackpot-pot-item {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    width: 113px;
    float: left;
    margin: 0 5px 10px 5px;
    border: 2px solid #e8e8e8;
    .icon {
        padding: 3px;
        position: relative;
        overflow: hidden;
        height: 83px;
    }
    .wear {
        color: #a5aeb7;
        font-size: 0.7em;
        text-shadow: 0px 1px #242424;
        height: 20px;
        position: relative;
        float: left;
        width: 100%;
    }
    .price {
        position: relative;
        font-size: 1.1em;
        padding: 0 0 10px 0;
        text-shadow: 0px 1px #242424;
        width: 100%;
        float: left;
    }
    .triangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 35px 0 0;
        border-color: #f4732b transparent transparent transparent;
    }
    .top-left-text {
        position: absolute;
        top: 0;
        left: 3px;
        right: 5px;
        color: #f2f2f2;
        font-size: 0.8em;
        text-shadow: 0px 1px #3e2b2b;
    }
}

.stat-trak {
    border: 2px solid #f4732b;
}