<div class="jackpot-pot-item" ng-class="{ 'stat-trak': isStatTrak == true }" uib-tooltip="{{ item.item.marketName }}" tooltip-placement="top" tooltip-trigger="mouseenter">

    <div class="icon">
        <item-thumbnail src="item.iconUrl" alt="{{ item.item.marketName }}"></item-thumbnail>
    </div>
    
    <div class="wear text-center">
        {{ item.item.exterior }}
    </div>

    <div class="price text-center">
        {{ item.price.value | currency }}
    </div>

    <div ng-show="isStatTrak" class="triangle"></div>
    <div ng-show="isStatTrak" class="top-left-text">
        ST
    </div>
</div>