<navbar></navbar>

<!--<header>
    <div class="hero-overlay">
        <div class="container">
            <h1>'Allo, 'Allo!</h1>
            <p class="lead">Kick-start your next web app with Angular Fullstack</p>
            <button class="btn btn-default btn-lg btn-ghost">Open a crate now</button>
        </div>
    </div>-->
<!--<slick class="pie-carousel" autoplay=false arrows=false draggable=false pauseOnHover=false speed=900 init-onload=true data="crates">
        <div class="carousel-container" ng-repeat="crate in crates">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pie-chart-container">
                            <div class="chart">
                                <div style="height:500px; width:500px">
                                    <pie-chart data="pieChartData[crate._id]" options="options"></pie-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="user-progresses">
                            <user-progress ng-repeat="slot in crate.slots" value="slot.quantity" max="crate.slotsCount" image-url="{{ slot.user.avatar.small }}" name="{{ slot.user.name }}"></user-progress>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="section-winners">
                    <!--<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                    <!--<h1 translate>HOME.JUMBOTRON.ROUND_HISTORY</h1>-->
<!--<winner-thumbnail ng-repeat="round in crate.recentRounds" src="round.prize.iconUrl" title="{{ round.prize.item.marketName }}" text="dfgdfg"></winner-thumbnail>-->
<!--</perfect-scrollbar>-->
<!--</div>
            </div>
        </div>
    </slick>
</header>-->
<section class="section-dark">
    <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/S-AkbYjsCWI" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
<section class="section-timer">
    <h1 class="text-center">Jackpot Now Live</h1>

    <div class="timer-wrapper">
        <div class="timer">
            <!--<flip-clock countdown="true" countdown-to="2015-12-13T18:00:00Z" clock-face="DailyCounter"></flip-clock>-->

        </div>
    </div>
</section>

<section class="section-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1 translate>HOME.SECTION_2.HEADING</h1>
                <p translate>HOME.SECTION_2.DESCRIPTION_1</p>
                <p translate>HOME.SECTION_2.DESCRIPTION_2</p>
                <p translate translate-values="{ state: 'crate' }">HOME.SECTION_2.DESCRIPTION_3</p>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive crate-image" src="/assets/images/home/fire-crate.png" alt="Mysterious Chest" />
            </div>
        </div>
    </div>
</section>

<section class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="/assets/images/home/m4a4-howl.png" alt="M4A4 Howl" />
            </div>
            <div class="col-sm-6">
                <h1 translate>HOME.SECTION_3.HEADING</h1>
                <p translate>HOME.SECTION_3.DESCRIPTION_1</p>
                <p translate>HOME.SECTION_3.DESCRIPTION_2</p>
                <p translate translate-values="{ state: 'jackpot' }">HOME.SECTION_3.DESCRIPTION_3</p>
            </div>
        </div>
    </div>
</section>

<section class="section-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h1 translate>HOME.SECTION_4.HEADING</h1>
                <p translate>HOME.SECTION_4.DESCRIPTION_1</p>
                <p translate>HOME.SECTION_4.DESCRIPTION_2</p>
                <p translate>HOME.SECTION_4.DESCRIPTION_3</p>
                <p translate translate-values="{ facebook: 'https://www.facebook.com/opcrates', twitter: 'https://twitter.com/opcrates'}">HOME.SECTION_4.DESCRIPTION_4</p>
            </div>
            <div class="col-sm-3">
                <img src="/assets/images/home/united-kingdom.png" alt="United Kingdom" />
            </div>
        </div>
    </div>
</section>

<section id="section-steam">
    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <p>Sign In With Steam to Start Playing</p>
            </div>
            <div class="col-sm-1">
                <a ng-click="redirectToSteam()"><img src="/assets/images/home/steam-login.png" alt="Steam signin button" />
                </a>
            </div>
        </div>
    </div>
</section>

<div ng-app="csGoMiniGamesApp" id="something">
    <crate-directive></crate-directive>
</div>

<footer></footer>