@mixin transition($time) {
    -webkit-transition: background $time ease-in-out, border $time ease-in-out;
    -moz-transition: background $time ease-in-out, border $time ease-in-out;
    -ms-transition: background $time ease-in-out, border $time ease-in-out;
    -o-transition: background $time ease-in-out, border $time ease-in-out;
    transition: background $time ease-in-out, border $time ease-in-out;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.section-base {
    padding-top: 80px;
    padding-bottom: 80px;
    h1 {
        line-height: 2em;
    }
}

.section-grey {
    @extend .section-base;
    background-color: #ebeff4;
}

.section-dark {
    @extend .section-base;
    background-color: #171717;
    color: #ffffff;
}

.section-light {
    @extend .section-base;
    background-color: #f3f3f3;
}

.section-clear {
    @extend .section-base;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 2px #1a1a1a;
}

.section-timer {
    @extend .section-base;
    padding: 100px 0;
    .timer {
        margin: 0 auto;
        width: 642px;
    }
    h1 {
        font-size: 4em;
    }
    .timer-wrapper {
        overflow: hidden;
        width: 625px;
        margin: 0 auto;
    }
}

.section-winners {
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 310px;
    background-color: #171717;
    //overflow-x: auto;
    //overflow-y: hidden;
    padding: 0px;
}

.section-youtube {
}

.btn-ghost {
    background: transparent;
    color: #ffffff;
    border-width: 2px;
    border-color: #ffffff;
    @include transition(.2s);
    &:hover {
        border-color: #ffffff;
        background-color: #ffffff;
        color: #2a2929;
    }
}

.tile {
    background-color: #EFF0F2;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    .tile-title {}
}

.hero-overlay {
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 100;
    left: 0;
}

.pie-carousel {
    margin-bottom: 0px;
    background-color: #f9f9fa;
    height: calc(100vh - 50px);
    position: relative;
    hr {
        margin: 0;
    }
    .carousel-container {
        height: calc(100vh - 50px);
    }
    .crate-winner {
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px solid #ddd;
    }
    .user-progresses {
        margin-top: 30px;
    }
    .pie-chart-container {
        height: calc(100vh - 339px);
        clear: both;
        .chart {
            display: flex;
            justify-content: center;
            align-self: center;
            display: absolute;
            margin: auto;
        }
        .btn-play-now {
            position: absolute;
            bottom: 50px;
            left: 250px;
            z-index: 10;
        }
    }
}

.scroller {
    overflow-y: hidden;
    overflow-x: scroll;
}

#section-steam {
    padding: 60px;
    p {
        font-size: 2em;
        font-weight: 500;
        margin: 0;
    }
    img:hover {
        opacity: 0.7;
    }
}

.crate-image {
    margin-top: 40px;
}