<page-wrapper title="Referral Management">

    <div class="text-center">
        <uib-pagination total-items="referrals.total" ng-model="currentPage" max-size="10" items-per-page="limit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changePage(currentPage)"></uib-pagination>
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>User</th>
                <th>Referred User</th>
                <th>Spent Coins</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="referral in referrals.docs">
                <th scope="row">{{ $index + 1 }}</th>
                <td>{{ referral.date | date: 'medium' }}</td>
                <td>{{ referral.user.name }}</td>
                <td>{{ referral.referredUser.name }}</td>
                <td>{{ referral.coin }}</td>
                <td>
                    <confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteReferral(referral, currentPage)">
                        <i class="fa fa-trash-o"></i>
                    </confirm-button>
                </td>
            </tr>
        </tbody>
    </table>

</page-wrapper>