<navbar></navbar>

<div class="leaderboard-jumbotron jumbotron-padding generic-jumbotron">
    <div class="jumbotron-pattern">
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs jumbotron-padding">
        <li ng-repeat="item in menu" role="presentation"><a ui-sref="{{ item.link }}" href translate>{{ item.title }}</a></li>
    </ul>
    <ui-view>
        <div class="panel panel-default">
            
            <div class="panel-heading" translate>LEADERBOARD.MAIN.PANEL.TITLE</div>
            <div class="panel-body">
                <p translate>LEADERBOARD.MAIN.PANEL.DESCRIPTION</p>
            </div>
            <table class="table leaderboard">
                <thead>
                    <tr>
                        <th>#</th>
                        <th translate>LEADERBOARD.AVATAR</th>
                        <th translate>LEADERBOARD.USERNAME</th>
                        <th translate>LEADERBOARD.LOYALTY_POINTS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in leaderboard" ng-class="{'gold': $index === 0, 'silver': $index === 1, 'bronze': $index === 2}">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td><img ng-src="{{ user.avatar.small }}" alt="{{ user.name }}'s avatar" /></td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.balance.loyalty }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ui-view>
</div>

<footer></footer>