<div class="modal-header">
    <h3 class="modal-title">Fill a Crate with items</h3>
</div>
<div class="modal-body">
    <form ng-submit="searchItems()">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchCriteria" placeholder="Search for...">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary btn-height-fix" type="button">Search</button></span>
        </div>
    </form>
    <div class="text-center">
        <pagination ng-hide="searchResults" total-items="itemTotal.count" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    </div>
    <div class="text-center">
        <pagination ng-show="searchResults" total-items="searchResults.count" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <table class="table table-condensed table-hover">
                <caption><strong>Database items</strong>
                </caption>
                <thead>
                    <tr>
                        <th>Market Name</th>
                        <th>Price</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody ng-hide="searchResults">
                    <tr ng-repeat="inventoryItem in items" ng-class="{ 'text-danger': item.blacklist }">
                        <td scope="row">{{ inventoryItem.item.item.marketName || 'Item Cannot be found in database, run analyst' }}</td>
                        <td>{{ inventoryItem.item.price.value | currency }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" ng-click="selectItem(inventoryItem)">Select</button>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="searchResults">
                    <tr ng-repeat="inventoryItem in searchResults">
                        <td scope="row">{{ inventoryItem.item.item.marketName  || 'Item Cannot be found in database, run analyst'}}</td>
                        <td>{{ inventoryItem.item.price.value | currency }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" ng-click="selectItem(inventoryItem)">Select</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="searchResults.length === 0">
                <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> No Results</div>
            </div>
        </div>
        <div class="col-xs-6">
            <table class="table table-condensed">
                <caption><strong>Selected items</strong>
                </caption>
                <thead>
                    <tr>
                        <th>Market Name</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="inventoryItem in selectedItems track by $index">
                        <td scope="row">{{ inventoryItem.item.item.marketName }}</td>
                        <td>
                            <button class="btn btn-sm btn-danger" ng-click="removeItem($index)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Finish</button>
</div>