<div class="modal-header">
    <h3 class="modal-title">More Info of Jackpot Log</h3>
</div>

<div class="modal-body">

    <div class="row">
        <!--Cutted at: {{ log.pot.value }}-->
    </div>

    <div class="page-heading">
        <h4>Items won</h4>
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>User</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in log.pot.entries">
                <th scope="row">{{ $index + 1 }}</th>
                <td>{{ entry.item.item.marketName }}</td>
                <td>{{ entry.user.name }}</td>
                <td>{{ entry.item.price.value | currency }}</td>
            </tr>
        </tbody>
    </table>

    <div class="page-heading">
        <h4>Items cut</h4>
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in log.cut">
                <th scope="row">{{ $index + 1 }}</th>
                <td>{{ item.item.marketName }}</td>
                <td>{{ item.price.value | currency }}</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">Close</button>
</div>