.crate-game {
    .game-container {
        .hud {
            position: absolute;
            bottom: 100px;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .open-button {
            font-size: 2em;
            text-shadow: 0 2px #163400
        }
        .timer {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
        }
    }
    .chat {
        color: #292828;
        text-shadow: none;
    }
}