<navbar></navbar>
<div class="crate-game">
    <div ng-hide="crate === undefined" class="container-fluid">
        <div class="row">
            <div class="game-container">
                <div id="game"></div>
                                
                <div ng-show="crateTime > 0" class="timer">
                    <crate-timer time="{{ crateTime }}"></crate-timer>
                </div>
                
                <div class="hud" style="width: 450px">
                    <form ng-submit="openCrate()">
                        <button type="submit" class="btn btn-success btn-block btn-lg open-button" ng-hide="isCrateOpening || !loggedIn || crateTime > 0" ng-disabled="tryingToOpen">
                            Open
                        </button>
                    </form>
                    <div id="slots" ng-hide="!isCrateOpening || !loggedIn"></div>
                    <p class="text-center">It costs {{ crate.cost }} Coins to open</p>
                </div>
                
            </div>
        </div>

        <side-dock>
            <crate-notice ng-repeat="notice in sortCrateGameLogs(notices) | limitTo: 10" notice="notice"></crate-notice>
        </side-dock>

        <side-dock side="right">
            <chat-box class="chat" model="crateModel" model-name="crateGameChat" height="100%"></chat-box>
        </side-dock>

        <div class="container">
            <!--<pre>{{ crate | json }}</pre>-->

            <div ng-show="crate === undefined">
                <h1>Crate does not exist</h1>
            </div>
        </div>
    </div>
</div>
<footer></footer>