<div class="container">
    <div ncy-breadcrumb></div>

    <div class="page-header">
        <h1>{{ post.title }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                <i class="fa fa-clock-o"></i> {{ post.date | date : 'medium' }}
                <span class="pull-right"><i class="fa fa-comments"></i> <a href="#disqus_thread" class="disqus-comment-count" data-disqus-identifier="{{ disqusIdentifier }}">Comment <!-- Count will be inserted here --></a>
                <!--<a href="#disqus_thread" class="disqus-comment-count" data-disqus-identifier="/news/article/5605ce07fa5a273c36e931f0"><i class="fa fa-comments"></i> Comment</a>--></span>
            </p>
            <div class="panel panel-default article">
                <div class="panel-body">

                    <p ng-bind-html="post.body"></p>

                    <div ng-hide="post.body">
                        <h2 class="text-center">Sorry, no post found</h2>
                    </div>

                    <div class="row">
                        <hr />
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
                        </div>
                        <div class="col-sm-2">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="opcrates">Tweet</a>
                        </div>
                        <div class="col-sm-2">
                            <div id="reddit-share"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-hide="error" id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'opcrates';
                //var disqus_identifier = window.location.pathname;
                //console.log(window.location.pathname);
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
        </div>

        <div class="col-sm-4">
            <div class="page-header">
                <h2 translate>NEWS.ARTICLE.MORE_ARTICLES</h2>
            </div>
            <news-related-content ng-hide="currentNewsId == post.id" ng-repeat="post in news" post="post"></news-related-content>
        </div>
    </div>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1167699306577571";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        ! function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>

    <script>
        (function () {
            var write_string = "<iframe src=\"//www.redditstatic.com/button/button1.html?url=";

            if (window.reddit_url) {
                write_string += encodeURIComponent(reddit_url);
            } else {
                write_string += encodeURIComponent(window.location.href);
            }
            if (window.reddit_title) {
                write_string += '&title=' + encodeURIComponent(window.reddit_title);
            }
            if (window.reddit_target) {
                write_string += '&sr=' + encodeURIComponent(window.reddit_target);
            }
            if (window.reddit_css) {
                write_string += '&css=' + encodeURIComponent(window.reddit_css);
            }
            if (window.reddit_bgcolor) {
                write_string += '&bgcolor=' + encodeURIComponent(window.reddit_bgcolor);
            }
            if (window.reddit_bordercolor) {
                write_string += '&bordercolor=' + encodeURIComponent(window.reddit_bordercolor);
            }
            if (window.reddit_newwindow) {
                write_string += '&newwindow=' + encodeURIComponent(window.reddit_newwindow);
            }
            write_string += "\" height=\"22\" width=\"120\" scrolling='no' frameborder='0'></iframe>";
            $("#reddit-share").html(write_string);
        })()
    </script>


    <script id="dsq-count-scr" src="//opcrates.disqus.com/count.js" async></script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>