<page-wrapper title="User Management">

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ users.total }}</div>
                            <div>Total Users</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">0</div>
                            <div>Active Users</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-trophy fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">0</div>
                            <div>Logged in users during past 24 hours</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-archive fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">0 / {{ bots.length * 1000 }}</div>
                            <div>Total Stock</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-warning btn-lg" ng-click="findDuplicates()">Find Duplicates</button>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-sm-5">

            <div class="panel panel-default" ng-show="duplicates">

                <div class="panel-heading">
                    <h3 class="panel-title">Duplicates</h3>
                </div>

                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Avatar</th>
                                <th>Username</th>
                                <th>Steam ID</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="user-row" ng-repeat="user in duplicates" ng-click="getCurrentUser(user)">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td><img ng-src="{{ user.avatar.small }}" alt="{{ user.name }}'s avatar" />
                                </td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.steamId }}</td>
                                <td>
                                    <confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteUser(user)"><i class="fa fa-trash-o"></i>
                                    </confirm-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <form ng-submit="search(searchCriteria)">
                <div class="input-group form-group">
                    <input type="text" class="form-control" ng-model="searchCriteria" placeholder="Search for...">
                    <span class="input-group-btn"><button type="submit" class="btn btn-primary btn-height-fix" type="button">Search</button></span>
                </div>
            </form>

            <div class="text-center">
                <uib-pagination ng-hide="searchResults" total-items="users.total" ng-model="currentPage" max-size="10" items-per-page="userLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changePage(currentPage)"></uib-pagination>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>

                <div ng-hide="searchResults" class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Avatar</th>
                                <th>Username</th>
                                <th>Steam ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="user-row" ng-repeat="user in users.docs" ng-click="getCurrentUser(user)">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td><img ng-src="{{ user.avatar.small }}" alt="{{ user.name }}'s avatar" />
                                </td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.steamId }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="searchResults" class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Avatar</th>
                                <th>Username</th>
                                <th>Steam ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="user-row" ng-repeat="user in searchResults.docs" ng-click="getCurrentUser(user)">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td><img ng-src="{{ user.avatar.small }}" alt="{{ user.name }}'s avatar" />
                                </td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.steamId }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div class="col-sm-7">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">Current User</h3>
                </div>

                <div ng-hide="currentUser" class="panel-body">
                    <h1 class="text-center">No user selected!</h1>
                    <p class="text-center lead"><i class="fa fa-5x fa-flask"></i></p>
                </div>

                <div ng-show="currentUser" class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="profile-icon" ng-src="{{ currentUser.avatar.large }}" alt="{{ user.name }}'s avatar" />
                        </div>
                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title pull-left" style="padding-top: 3px;">Details</h4>
                                    <button ng-hide="currentUser.edit" class="btn btn-primary btn-xs pull-right" ng-click="currentUser.edit = true"><i class="fa fa-pencil"></i> Edit</button>
                                    <button ng-show="currentUser.edit" class="btn btn-success btn-xs pull-right" ng-click="currentUser.edit = false; updateUser(currentUser)"><i class="fa fa-floppy-o"></i> Save</button>
                                </div>

                                <div ng-show="currentUser.edit" class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">First Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" ng-model="currentUser.firstName" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Last Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" ng-model="currentUser.lastName" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Trade Url</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" ng-model="currentUser.tradeUrl" placeholder="Trade Url">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" ng-model="currentUser.email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Coins</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" ng-model="currentUser.balance.coin" placeholder="Coins">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <table ng-hide="currentUser.edit" class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Username</th>
                                            <td>{{ currentUser.name }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Name</th>
                                            <td>{{ currentUser.firstName }} {{ currentUser.lastName }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Steam ID</th>
                                            <td>{{ currentUser.steamId }}</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Coins</th>
                                            <td>{{ currentUser.balance.coin }} Coins</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Trade URL</th>
                                            <td>{{ currentUser.tradeUrl || 'No Trade URL Set' }}</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <td>{{ currentUser.email || 'No Email set' }}</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <h3>Inventory</h3>
                    <button class="btn btn-primary" ng-click="openAddItemWindow(currentUser)">Add Items</button>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item name</th>
                                <th>Asset ID</th>
                                <th>Trade Offer ID</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in currentUser.inventory" ng-class="{ 'warning': !item.assetId }">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td>{{ item.item.item.marketName }}</td>
                                <td>{{ item.assetId || 'No Asset ID' }}</td>
                                <td>{{ item.tradeOfferId || 'Not withdrawn' }}</td>
                                <td>
                                    <confirm-button ng-show="item._id" pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteItem(item)"><i class="fa fa-trash-o"></i>
                                    </confirm-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</page-wrapper>