<button ng-hide="isConfirm" class="{{ preClass }}" ng-click="isConfirm = true">{{ preText }}</button>
<button ng-show="isConfirm" class="{{ confirmClass }}" ng-click="execute()">{{ confirmText }}</button>