<page-wrapper title="Crate Management">

    <div class="row">
        <div class="col-sm-7">

            <div class="panel panel-default" ng-repeat="crate in crates">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>{{ crate.name }}</strong> ({{ crate._id }})</h4>
                    <div class="pull-right">
                        <strong>Cost:</strong> {{ crate.cost }} Coins
                        <confirm-button pre-class="btn btn-warning btn-sm" confirm-class="btn btn-danger btn-sm" pre-text="Delete" confirm-text="Sure?" execute="deleteCrate(crate)">
                            <i class="fa fa-trash-o"></i>
                        </confirm-button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">Item winning information</div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item Name</th>
                                    <th>Price</th>
                                    <th>Probability</th>
                                    <th>Rarity</th>
                                    <th>Delete</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in crate.inventory">
                                    <th scope="row">{{ $index + 1 }}</th>
                                    <td>{{ item.item.item.marketName }}</td>
                                    <td>{{ item.item.price.value | currency }}</td>
                                    <td>
                                        <input type="number" min="1" class="form-control" ng-model="item.chance" />
                                    </td>
                                    <td>
                                        <input type="number" min="0" class="form-control input-sm" ng-model="item.rarity" />
                                    </td>
                                    <td>
                                        <confirm-button pre-class="btn btn-warning btn-sm" confirm-class="btn btn-danger btn-sm" pre-text="Delete" confirm-text="Sure?" execute="deleteItem($index, crate)">
                                            <i class="fa fa-trash-o"></i>
                                        </confirm-button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-sm" ng-click="updateCrate(crate)">Update</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="panel-body">
                            <button class="btn btn-primary pull-right" ng-click="openBotStoreModel(crate)">Add items from bots</button>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Coin winning information
                            <div class="row pull-right clearfix-height-fixate">
                                <label class="col-sm-7 control-label">Auto-Stock</label>
                                <div class="col-sm-5">
                                    <switch ng-model="crate.autoStock" ng-change="updateCrate(crate)"></switch>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Coins</th>
                                    <th>Stock Max</th>
                                    <th>Rarity</th>
                                    <th>Stock Remaining</th>
                                    <th>Delete</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="coin in crate.coins">
                                    <th scope="row">{{ $index + 1 }}</th>
                                    <td>
                                        <input type="number" min="1" class="form-control input-sm" ng-model="coin.amount" />
                                    </td>
                                    <td>
                                        <input type="number" min="1" class="form-control input-sm" ng-model="coin.maxStock" />
                                    </td>
                                    <td>
                                        <input type="number" min="0" class="form-control input-sm" ng-model="coin.rarity" />
                                    </td>
                                    <td>
                                        {{ coin.chance }}
                                    </td>
                                    <td>
                                        <confirm-button pre-class="btn btn-warning btn-sm" confirm-class="btn btn-danger btn-sm" pre-text="Delete" confirm-text="Sure?" execute="removeCoin(crate, $index)">
                                            <i class="fa fa-trash-o"></i>
                                        </confirm-button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-sm" ng-click="updateCrate(crate)">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{ crate.coins.length + 1 }}</th>
                                    <td>
                                        <input type="number" min="1" class="form-control input-sm" ng-model="coinAmount" />
                                    </td>
                                    <td>
                                        <input type="number" min="1" class="form-control input-sm" ng-model="coinStock" />
                                    </td>
                                    <td>
                                        <input type="number" min="0" class="form-control input-sm" ng-model="coinRarity" />
                                    </td>
                                    <td colspan="3">
                                        <button class="btn btn-success btn-sm" ng-click="addCoin(crate, coinAmount, coinStock, coinRarity)">Add</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-success pull-right" ng-click="testCrate(crate)">Test Crate</button>
                            <span class="pull-left"><pre>{{ (crate.prizeWon | json) || 'Press Test Crate to begin' }}</pre></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Crate</h3>
                </div>
                <div class="panel-body">
                    <form name="createCrateForm" ng-submit="createCrate(createCrateForm.$valid, crateName, maxSlots, costPerSlot)">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Crate Name" ng-model="crateName" required />
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Coins</span>
                                <input type="number" class="form-control" placeholder="Cost per Slot" ng-model="costPerSlot" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</page-wrapper>