.twitter-block {
    a {
        color: #00baff;
    }
    position: relative;
    padding: 10px;
    background: #2c2c2c;
    //border-radius: 10px;
    margin: 0 0 5px 0;
    &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 0 15px 15px;
        border-color: transparent #2c2c2c;
        display: block;
        width: 0;
        z-index: 1;
        right: -15px;
        top: 15px;
    }
    .timestamp {
        color: #838383;
        margin: 0;
        text-align: right;
        font-size: 0.8em;
        font-style: italic;
    }
}