//$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
//$fa-font-path: "/bower_components/font-awesome/fonts";
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
//@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    overflow-y: scroll;
    //overflow-x: hidden;
    body {
        // Needs work
        min-height: 100%;
    }
}

a {
    cursor: pointer;
}

.btn-height-fix {
    height: 34px;
}

.btn-height-fix-lg {
    height: 46px;
}

.btn-no-border {
    border-radius: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0;
    /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}

// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'account/account.scss';
@import 'account/profile/profile.scss';
@import 'account/referral/referral.scss';
@import 'contact/contact.scss';
@import 'crate/crate.scss';
@import 'crate/game/crate-game.scss';
@import 'faq/faq.scss';
@import 'giveaway/giveaway.scss';
@import 'how-to/how-to.scss';
@import 'jackpot/jackpot.scss';
@import 'leaderboard/leaderboard.scss';
@import 'main/main.scss';
@import 'news/article/article.scss';
@import 'news/news.scss';
@import 'theme.scss';
@import 'tos/tos.scss';
@import 'chat-box/chat-box.scss';
@import 'crate/notice/notice.scss';
@import 'crate/slot-unit-demo/slot-unit-demo.scss';
@import 'crate/timer/crate-timer.scss';
@import 'deckgrid-card/item-card.scss';
@import 'footer/footer.scss';
@import 'form/affix/affix.scss';
@import 'form/big-progress/big-progress.scss';
@import 'item-thumbnail/selectable-thumbnail/selectable-thumbnail.scss';
@import 'item-thumbnail/skin-thumbnail/item-thumbnail.scss';
@import 'item-thumbnail/winner-thumbnail/winner-thumbnail.scss';
@import 'jackpot/jackpot-pot-item/jackpot-pot-item.scss';
@import 'jackpot/jackpot-recent-winner/jackpot-recent-winner.scss';
@import 'jackpot/jackpot-select-item/jackpot-select-item.scss';
@import 'jackpot/mouse-icon.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
@import 'news/news-post-summary/news-post-summary.scss';
@import 'news/news-related-content/news-related-content.scss';
@import 'side-dock/side-dock.scss';
@import 'slot-icon/slot-icon.scss';
@import 'store/store-item/store-item.scss';
@import 'twitter/twitter-bubble/twitter-bubble.scss';
@import 'user-progress/user-progress.scss';
// endinjector