@import url(//fonts.googleapis.com/css?family=Oswald:300|Slabo+27px|Raleway|Titillium+Web|Roboto+Slab|Arimo|Source+Sans+Pro|Fira+Sans|Cabin);
//Raleway is expensive
h1,
h2,
h3,
h4,
h5 {
    //font-family: 'Fira Sans', serif;
    font-family: 'Source Sans Pro', sans-serif;
    //text-transform: uppercase;
}

p {}

body {
    //font-family: 'Titillium Web', sans-serif;
    font-smooth: always;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: none;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f3f3f3;
}

.text-emphasis {
    font-size: 20px;
    line-height: 1.1;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.btn,
.thumbnail,
.panel,
.dropdown-menu,
.form-control {
    border-radius: 0px;
}

.thumbnail {
    padding: 0;
}

.jumbotron-pattern {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFElEQVQIW2NkYGBIA+JZjEACBNIADCsBaUx7izwAAAAASUVORK5CYII=) repeat;
    width: 100%;
    display: inline-flex;
}

.generic-jumbotron {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    display: inline-flex;
    .jumbotron-text {
        text-align: center;
        color: aliceblue;
        margin: auto;
        text-shadow: 0px 2px 4px rgba(150, 150, 150, 0.53);
        p {
            font-size: 19px;
        }
    }
}

.jumbotron-padding {
    margin-bottom: 20px;
}

.nav-tabs > li.active > a {
    border: 0;
    border-bottom: 1px;
    &:hover,
    &:focus {
        border: 0;
    }
}

.nav-tabs {
    li {
        a {
            border-radius: 0;
        }
    }
}

.col-vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.col-vertical-align {
    display: flex;
    align-items: center;
}