<page-wrapper title="Item Blacklist">

    <div class="text-center">
        <uib-pagination total-items="itemTotal.count" ng-model="currentPage" ng-change="paginate(currentPage)" max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Market Name</th>
                <th>Model</th>
                <th>Set</th>
                <th>Exterior</th>
                <th>Price</th>
                <th>Blacklist</th>
            </tr>
        </thead>
        <tbody ng-hide="searchResults">
            <tr ng-repeat="item in items track by $index">
                <td scope="row">{{ item.item.marketName }}</td>
                <td>{{ item.item.model }}</td>
                <td>{{ item.item.set }}</td>
                <td>{{ item.item.exterior }}</td>
                <td>{{ item.price.value | currency }} {{ item.price.currency }}</td>
                <td>
                    <button class="btn btn-xs btn-warning" ng-click="unBlacklist(item, $index)">Remove</button>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="searchResults">
            <tr ng-repeat="item in searchResults track by $index">
                <td scope="row">{{ item.item.marketName }}</td>
                <td>{{ item.item.model }}</td>
                <td>{{ item.item.set }}</td>
                <td>{{ item.item.exterior }}</td>
                <td>{{ item.price.value | currency }} {{ item.price.currency }}</td>
                <td>
                    <button class="btn btn-xs btn-warning" ng-click="unBlacklist(item, $index)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>

</page-wrapper>