.crate-timer {
    .time-unit {
        color: #dbdbdb;
        width: 150px;
        position: relative;
        float: left;
        padding: 10px 0;
        .heading {
            text-transform: uppercase;
            font-size: 0.8em;
            width: 100%;
            text-align: center;
            margin-bottom: 3px;
        }
        .value {
            text-align: center;
            font-size: 4em;
            line-height: 1em;
        }
    }
    .colon {
        color: #dbdbdb;
        position: relative;
        float: left;
        text-align: center;
        font-size: 2em;
        margin-top: 10px;
    }
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
}