<div class="crate-timer">
    <div class="time-unit">
        <div class="value">
            {{ hours }}
        </div>
        <div class="heading">Hours</div>
    </div>

    <div class="time-unit">
        <div class="value">
            {{ mins }}
        </div>
        <div class="heading">Minutes</div>
    </div>

    <div class="time-unit">
        <div class="value">
            {{ secs }}
        </div>
        <div class="heading">Seconds</div>
    </div>
</div>