<div class="item-block">
    <div class="item-thumbnail" style="position: relative; left: 0; top: 0;">
        <img ng-hide="src" src="/assets/images/item-thumbnail/unknown.png" style="width: {{ size }}px; height: {{ size }}px" />
        <img ng-show="src" style="position: relative; top: 0; left: 0;" ng-src="https://steamcommunity-a.akamaihd.net/economy/image/{{ src }}{{ size ? '/' + size + 'x' + size : ''}}" alt="{{ alt }}" />
    </div>
</div>