@mixin item-transition($time) {
    -webkit-transition: border $time ease-in-out;
    -o-transition: border $time ease-in-out;
    transition: border $time ease-in-out;
}

.item-block {
    position: relative;
    float: left;
    display: block;
    @include item-transition(.2s);
    //margin: 4px;
    .item-thumbnail {
        //border: 1px solid #d9d9d9;
        img {
            width: 100%;
        }
        overflow:hidden;
        position: relative;
        float: left;
        width: 100%;
    }
}