<div class="modal-header">
    <h3 class="modal-title">Fill a Crate with items</h3>
</div>
<div class="modal-body">
    {{ crate }}
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group form-group">
                <label ng-repeat="bot in bots" class="btn btn-success" ng-model="currentBot" btn-radio="'{{ bot }}'" ng-click="getInventory($index)" uncheckable>{{ bot.username }}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" ng-repeat="item in currentBot.inventory" ng-click="selectItem(currentBot, $index)">
            <div class="thumbnail" ng-class="{'alert-success': item.selected}">
                <img ng-src="https://steamcommunity-a.akamaihd.net/economy/image/{{ item.icon_url }}" alt="{{ item.name }}">
                <div class="caption">
                    <h5>{{ item.name }}</h5>
                    <p class="text-right">
                        <button ng-hide="item.selected" class="btn btn-primary" role="button"><i class="fa fa-plus"></i> Add</button>
                        <button ng-show="item.selected" class="btn btn-warning" role="button"><i class="fa fa-minus"></i> Remove</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" ng-show="loading">
        <i class="fa fa-cog fa-spin fa-5x"></i>
        <p>Loading inventory from steam...</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Finish</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>