.footer {
    //text-align: center;
    .top {
        padding: 30px 0 30px 0;
        //border-top: 1px solid #E5E5E5;
        background-color: #1a1a1a;
        color: #c4c4c4;
        position: relative;
        ul {
            list-style: none;
            padding-left: 0;
            li {
                line-height: 2em;
                font-size: 1em;
                a {
                    color: #6e7072;
                }
            }
        }
        hr {
            border-top: dashed 1px #3e3e3e;
            margin: 10px 0 10px 0;
        }
        h4 {
            text-transform: uppercase;
            margin-top: 20px;
        }
        .mascot {
            margin-top: 40px;
            position: relative;
            display: block;
            float: left;
        }
        .chicken {
            position: absolute;
            bottom: 0px;
            right: 400px;
        }
        .article {
            .timestamp {
                color: #838383;
                font-size: 0.8em;
            }
        }
    }
    .bottom {
        border-top: 1px solid #393939;
        background-color: #171717;
        color: #c4c4c4;
        padding: 10px 0;
        position: relative;
        .footer-container {
            position: relative;
        }
        .blurb {
            text-align: center;
            margin: 10px;
        }
        .logo {
            position: absolute;
            img {
                height: 106px;
            }
        }
        .locale {
            position: absolute;
            top: 40px;
            right: 0px;
        }
        .version {
            font-size: 0.7em;
            color: #5d5d5d
        }
        .dropdown-language {
            min-width: inherit;
        }
    }
}