<div class="footer">

    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div ng-show="$index == 0 || $index == 3" ng-repeat="section in siteMap">
                        <h4 translate>{{ section.title }}</h4>
                        <hr />
                        <ul>
                            <li ng-repeat="link in section.links"><a href ui-sref="{{ link.link || home }}" ui-sref-active translate>{{ link.title }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div ng-show="$index == 2 || $index == 1" ng-repeat="section in siteMap">
                        <h4 translate>{{ section.title }}</h4>
                        <hr />
                        <ul>
                            <li ng-repeat="link in section.links"><a href ui-sref="{{ link.link || home }}" ui-sref-active translate>{{ link.title }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <h4 translate>FOOTER.NEWS</h4>
                    <div class="article" ng-repeat="article in news">
                        <a href ui-sref="news.{{ article.category.replace(' ', '') }}.post({id: '{{ article._id }}'})">{{ article.title }}</a>
                        <p class="timestamp">{{ article.date | timeAgo }}</p>
                        <hr ng-show="!$last">
                    </div>
                </div>

                <div class="col-sm-4">
                    <h4>{{ 'FOOTER.TWITTER_FEED' | translate }} <a href="https://twitter.com/opcrates"><i class="fa fa-twitter"></i></a></h4>
                    <twitter-bubble ng-repeat="post in twitterPosts" post="post"></twitter-bubble>
                </div>
            </div>
            <div class="chicken">
                <img src="/assets/images/footer/chicken-character.png" />
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="container footer-container">
            <div class="logo">
                <img src="/assets/images/black-and-white-logo.png" />
            </div>
            <div class="row">
                <div class="col-sm-12 social-icons">
                    <slot-icon icon="facebook" link="https://www.facebook.com/opcrates"></slot-icon>
                    <slot-icon icon="twitter" link="https://twitter.com/opcrates"></slot-icon>
                    <slot-icon icon="youtube" link="https://www.youtube.com/channel/UC06esTpfB47sCnalGDkDOfg"></slot-icon>
                    <slot-icon icon="steam" link="http://steamcommunity.com/groups/opcrates"></slot-icon>
                    <slot-icon icon="reddit" link="https://www.reddit.com/r/opcrates"></slot-icon>
                </div>
                <div class="col-sm-12">
                    <p class="blurb"><i class="fa fa-copyright"></i> <span translate translate-values="{ url: 'http://store.steampowered.com/', year: {{ getYear() }} }">FOOTER.TERMS_AND_CONDITIONS</span> <span class="version">Version: {{ version.version }}</span>
                    </p>
                </div>
            </div>
            <div class="locale">
                <div class="btn-group dropup" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">
                        <strong>{{ localeService.currentLanguage.display }} <span class="caret"></span></strong>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-language" role="menu" aria-labelledby="single-button">
                        <li ng-repeat="language in localeService.languages" role="menuitem">
                            <a ng-click="localeService.changeLanguage(language.key)">{{ language.display }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>