<div class="container">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Jackpot</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Total Spent:</label>
                            <div class="col-sm-8">
                                <span class="lead">{{ balance.totalSpent | currency }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Total Won:</label>
                            <div class="col-sm-8">
                                <span class="lead">{{ balance.totalWon | currency }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>