<div style="float: left; width: {{ 100 / itemsPerRow }}%">
    <div class="store-item" ng-class="{ 'selectable-thumbnail-selected': item.isSelected && !item.requestedWithdraw, 
                                     'hoverable': !item.isSelected && !item.requestedWithdraw, 
                                     'selectable-thumbnail-locked': item.requestedWithdraw }" ng-click="item.isSelected = !item.isSelected && !item.requestedWithdraw">
        <div class="row">
            <div class="col-xs-12 item-center-wrapper">
                <div class="item-wrapper">
                    <item-thumbnail src="item.item.iconUrl"></item-thumbnail>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                {{ item.item.price.coin }} Coins
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="bottom">
                    <div ng-show="item.item.item.exterior" class="description">
                        <p>
                            <strong>{{ item.item.item.model }}</strong>
                        </p>
                        <p>
                            <span class="set">{{ item.item.item.set }}</span> <span class="exterior">({{ item.item.item.exterior }})</span>
                        </p>
                    </div>
                    <div ng-hide="item.item.item.exterior" class="description">
                        <p>
                            {{ item.item.item.marketName }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
        <div class="text-center">
            <button class="btn btn-primary">Inspect</button>
        </div>
    </div>-->
        <div ng-show="item.requestedWithdraw" class="overlay-text">
            Requested Withdraw
        </div>
        <div ng-hide="item.requestedWithdraw" class="triangle"></div>
        <div ng-hide="item.requestedWithdraw" class="icon">
            <i ng-hide="item.isSelected" class="fa fa-plus"></i>
            <i ng-show="item.isSelected" class="fa fa-check"></i>
        </div>
    </div>
</div>