<div class="container referral">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg referral-button" placeholder="Referral Code" ng-model="redeem.code" ng-disabled="stats.redeemedFree">
                        <span class="input-group-btn"> <button class="btn btn-default btn-lg btn-primary btn-height-fix-lg" type="button" ng-click="redeem()" ng-disabled="!redeem.code ||  redeem.busy">Claim</button></span>
                    </div>
                    <span id="helpBlock" class="help-block">Enter a Referral Code to claim free coins</span>
                    <div ng-show="redeem.success" class="alert alert-success" role="alert"><strong>Success,</strong> {{ redeem.success.message }}</div>
                    <div ng-show="redeem.error" class="alert alert-warning" role="alert"><strong>Sorry,</strong> {{ redeem.error.data.message }}</div>
                </div>
                <div ng-show="stats.redeemedFree" class="overlay-text">
                    Already claimed free coins
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default code-section">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg referral-button" placeholder="Referral Code" ng-model="user.referral.code">
                            <span class="input-group-btn"> <button class="btn btn-default btn-lg btn-primary btn-height-fix-lg" type="button" ng-click="changeReferralCode()" ng-disabled="!user.referral.code">Create / Update</button></span>
                        </div>
                    </div>
                    <div ng-show="user.referral.success" class="alert alert-success" role="alert"><strong>Success,</strong> {{ user.referral.success }}</div>
                    <div ng-show="user.referral.error" class="alert alert-warning" role="alert"><strong>Sorry,</strong> {{ user.referral.error }}</div>
                    <hr>
                    <button class="btn btn-lg btn-block btn-success" ng-click="collect()" ng-disabled="stats.available === 0">
                        <span ng-show="stats.available > 0">Collect {{ stats.available }} Coins</span>
                        <span ng-hide="stats.available > 0">No Coins to collect</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Statistics</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Information</th>
                            <th>Values</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Referral Tier</th>
                            <td>
                                <span ng-show="stats.totalSpenders >= 0 && stats.totalSpenders < 50">Bronze</span>
                                <span ng-show="stats.totalSpenders >= 50 && stats.totalSpenders < 100">Silver</span>
                                <span ng-show="stats.totalSpenders >= 100">Gold</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Successful Referrals</th>
                            <td>{{ stats.totalSpenders }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Spent</th>
                            <td>{{ stats.totalSpent }} Coins</td>
                        </tr>
                        <tr>
                            <th scope="row">Lifetime Earnings</th>
                            <td>{{ stats.totalEarned }} Coins</td>
                        </tr>
                        <tr>
                            <th scope="row">Available Now</th>
                            <td>{{ stats.available }} Coins</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row" ng-show="referrals.total > 0">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Total Referrals</div>
                <div class="panel-body">
                    <div class="text-center">
                        <uib-pagination boundary-links="true" total-items="referrals.total" ng-model="referralPage" max-size="10" class="pagination-sm" items-per-page="referralLimit" boundary-links="true" rotate="false" ng-change="changeReferralCode()"></uib-pagination>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Joined</th>
                            <th>Total Spent</th>
                            <th>Commission</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="referral in referrals.docs">
                            <th scope="row">{{ referral.referredUser.name }}</th>
                            <td>{{ referral.date | date: 'medium' }}</td>
                            <td>{{ referral.coin.totalSpent }} Coins</td>
                            <td>{{ referral.coin.totalEarned }} Coins</td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-body">
                    <div class="text-center">
                        <uib-pagination boundary-links="true" total-items="referrals.total" ng-model="referralPage" max-size="10" class="pagination-sm" items-per-page="referralLimit" boundary-links="true" rotate="false" ng-change="changeReferralCode()"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>