.referral {
    .free-coin-section {
        margin-top: 100px;
    }
    .code-section {
        .referral-button {}
        margin-bottom: 100px;
    }
    .overlay-text {
        background-color: rgba(0, 0, 0, 0.7);
        color: #f0f0f0;
        text-shadow: 0px 1px #171717;
        position: absolute;
        top: 35%;
        width: calc(100% - 32px);
        text-align: center;
        z-index: 10;
        padding: 5px 0;
        font-size: 0.8em;
    }
}