.withdraw-card {
    @extend .selectable-thumbnail;
    margin: 0px 10px 10px 0;
    padding: 0;
    overflow: hidden;
    //background-color: #EFF0F2;
    .item-center-wrapper {
        text-align: center;
        .item-wrapper {
            height: 167px;
            overflow: hidden;
            margin: 0 auto;
            display: inline-block;
        }
    }
    .bottom {
        height: 53px;
        padding: 5px;
        .description {
            p {
                margin: 2px;
            }
            .set {
                font-size: 0.9em;
            }
            .exterior {
                font-size: 0.9em;
                color: #555555;
                font-style: italic;
            }
        }
    }
    .overlay-text {
        background-color: rgba(0, 0, 0, 0.7);
        color: #f0f0f0;
        text-shadow: 0px 1px #171717;
        position: absolute;
        top: 45%;
        width: 100%;
        text-align: center;
        padding: 5px 0;
        font-size: 0.8em;
    }
}