<div class="withdraw-card" ng-class="{ 'selectable-thumbnail-selected': card.isSelected && !card.requestedWithdraw, 
                                     'hoverable': !card.isSelected && !card.requestedWithdraw, 
                                     'selectable-thumbnail-locked': card.requestedWithdraw }" ng-click="card.isSelected = !card.isSelected && !card.requestedWithdraw">
    <div class="row">
        <div class="col-xs-12 item-center-wrapper">
            <div class="item-wrapper">
                <item-thumbnail src="card.item.iconUrl"></item-thumbnail>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="bottom">
                <div ng-show="card.item.item.exterior" class="description">
                    <p>
                        <strong>{{ card.item.item.model }}</strong>
                    </p>
                    <p>
                        <span class="set">{{ card.item.item.set }}</span> <span class="exterior">({{ card.item.item.exterior }})</span>
                    </p>
                </div>
                <div ng-hide="card.item.item.exterior" class="description">
                    <p>
                        {{ card.item.item.marketName }}
                    </p>
                </div>
                <!--<button ng-show="card.requestedWithdraw" class="btn btn-success btn-block" ng-click="card.isSelected = false" disabled>Requested</button>-->
            </div>
        </div>
    </div>
    <div ng-show="card.requestedWithdraw" class="overlay-text">
        Requested Withdraw
    </div>
    <div ng-hide="card.requestedWithdraw" class="triangle"></div>
    <div ng-hide="card.requestedWithdraw" class="icon">
        <i ng-hide="card.isSelected" class="fa fa-plus"></i>
        <i ng-show="card.isSelected" class="fa fa-check"></i>
    </div>
</div>