<ui-view>
    <div class="container">
        <div ncy-breadcrumb></div>

        <news-post-summary ng-repeat="post in categoryPosts.docs" post="post"></news-post-summary>

        <div class="text-center">
            <uib-pagination total-items="totalPosts.total" ng-model="currentPage" max-size="10" items-per-page="postLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changePage(currentPage)"></uib-pagination>
        </div>
    </div>
</ui-view>