<navbar></navbar>

<div class="container-fluid jackpot">
    <div class="row">
        <div class="full-screen">
            <div id="game"></div>
            <!--<big-progress value="jackpotEntries.length" max="maxEntries"></big-progress>-->
            <div class="top">
            </div>
            <div ng-hide="hideMouse" class="bottom">
                <div class="mouse-wrapper" scroll-hide>
                    <div class="mouse-icon">
                        <div class="wheel"></div>
                    </div>
                </div>
                <p class="text-center text" translate>JACKPOT.SCROLL_DOWN</p>
            </div>
        </div>

        <div ng-show="isLoggedIn" class="left-side">
            <div class="pot-details">
                <div class="row text">
                    <div class="col-xs-5">
                        <p translate>JACKPOT.TOTAL_ITEMS</p>
                    </div>
                    <div class="col-xs-7">
                        <p translate>{{ itemUtilityService.getCount(inventory) || 'JACKPOT.NONE' }}</p>
                    </div>
                </div>
                <div class="row text">
                    <div class="col-xs-5">
                        <p translate>JACKPOT.TOTAL_VALUE</p>
                    </div>
                    <div class="col-xs-7">
                        <p>{{ itemUtilityService.getTotalCostInDollar(inventory) }}</p>
                    </div>
                </div>
                <div class="enter-pot-button">
                    <button class="btn btn-lg btn-primary btn-block" ng-click="deposit()" translate>JACKPOT.ENTER_POT</button>
                </div>
            </div>

            <h3 class="text-center" translate>JACKPOT.MY_INVENTORY</h3>

            <div ng-show="inventory.length === 0" class="col-sm-12 text-center">
                <i class="fa fa-frown-o fa-5x"></i>
                <h3 translate>JACKPOT.INVENTORY_EMPTY</h3>
            </div>

            <div perfect-scrollbar class="item-container" wheel-speed="1" min-scrollbar-length="20" suppress-scroll-x="true">
                <jackpot-select-item ng-repeat="inventoryEntry in itemUtilityService.sortInventory(inventory)" inventory-entry="inventoryEntry"></jackpot-select-item>
            </div>
        </div>

        <div class="right-side">

            <ul class="nav nav-tabs nav-justified more-info-tab" role="tablist">
                <li role="presentation" ng-class="{ 'active': rightSideTab == 0 }" ng-click="rightSideTab = 0"><a aria-controls="home" role="tab" data-toggle="tab" translate>JACKPOT.CURRENT_POT</a></li>
                <li role="presentation" ng-class="{ 'active': rightSideTab == 1 }" ng-click="rightSideTab = 1"><a aria-controls="profile" role="tab" data-toggle="tab" translate>JACKPOT.CURRENT_ROUND_INFO</a></li>
            </ul>
            <div ng-show="rightSideTab == 0" perfect-scrollbar class="item-container" wheel-speed="1" min-scrollbar-length="20" suppress-scroll-x="true">
                <div ng-repeat="inventoryItem in itemUtilityService.sortInventory(jackpotEntries)">
                    <jackpot-pot-item item="inventoryItem.item"></jackpot-pot-item>
                </div>
            </div>

            <table ng-show="rightSideTab == 1" class="table summary-table">
                <thead>
                    <tr>
                        <th><span class="heading-text">Player</span></th>
                        <th><span class="heading-text">Skins</span></th>
                        <th><span class="heading-text">Value</span></th>
                        <th><span class="heading-text">Chance</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in entrySummary">
                        <th scope="row">{{ entry.name }}</th>
                        <td>{{ entry.count }}</td>
                        <td>{{ entry.value | currency }}</td>
                        <td>{{ (entry.chance * 100).toFixed(2)}}%</td>
                    </tr>
                </tbody>
            </table>

            <div class="chat-window">
               <chat-box model="jackpotModel" model-name="jackpotChat" height="300px"></chat-box>
            </div>

        </div>
    </div>
</div>

<div class="jackpot-bottom">
    <div class="container">
        <div class="page-header">
            <h1>Recent Winners</h1>
        </div>
        <jackpot-recent-winner ng-repeat="log in sortJackpotLogs(jackpotLogs) | limitTo: 8" jackpot-log="log"></jackpot-recent-winner>
    </div>
</div>

<footer></footer>