.jackpot {
    min-height: calc(100vh - 50px);
    .side {
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.5);
        width: 370px;
        height: calc(100vh - 50px);
        position: absolute;
        top: 50px;
        display: block;
        text-shadow: 0px 1px #242424;
    }
    .left-side {
        @extend .side;
        left: 0;
        .pot-details {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 7px;
            .text {
                font-size: 1.2em;
            }
            .enter-pot-button {}
        }
        .item-container {
            height: calc(100% - 180px);
            width: 100%;
            padding: 7px;
            overflow: hidden;
        }
    }
    .right-side {
        @extend .side;
        right: 0;
        .item-container {
            height: calc(100% - 363px);
            width: 100%;
            overflow: hidden;
            margin-top: 5px;
        }
        .summary-table {
            .heading-text {
                color: 99a3aa !important;
                text-transform: uppercase;
            }
        }
        .more-info-tab {
            a {
                color: aliceblue;
                border-radius: 0px;
                background-color: rgba(0, 0, 0, 0.3);
                border-left: 0;
                border-right: 0;
            }
            .active {
                border-color: blue;
            }
        }
    }
    .full-screen {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        min-height: calc(100vh - 50px);
        z-index: -10;
        .top {
            z-index: 0;
            position: absolute;
            top: 0;
            left: 370px;
            right: 370px;
        }
        .bottom {
            z-index: 0;
            position: absolute;
            bottom: 10%;
            width: 100%;
            .mouse-wrapper {
                margin: 0 auto;
            }
            .text {
                margin-top: 20px;
            }
            &.ng-hide-add,
            &.ng-hide-remove {
                transition: 1s linear all;
                animation: 1s hide;
                -webkit-animation: 0.5s hide;
            }
            &.ng-hide-add-active,
            &.ng-hide-remove-active {
                transition: 1s linear all;
                animation: 1s hide;
                -webkit-animation: 0.5s hide;
            }
        }
        #game {
            height: calc(100vh - 50px);
        }
    }
}

.jackpot-bottom {
    display: inline-block;
    width: 100%;
    h1 {
        text-transform: uppercase;
        font-size: 24px;
    }
}

@keyframes hide2 {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@-webkit-keyframes hide2 {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}