<page-wrapper title="Item Stock">

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-archive fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ inventoryItemCount.total }}</div>
                            <div>Total stock in bots</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cloud fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ inventoryItemCount.deposit }}</div>
                            <div>Items in Deposit</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-university fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ inventoryItemCount.bank }}</div>
                            <div>Items in Bank</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tint fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ inventoryItemCount.jackpot }}</div>
                            <div>Items in Jackpot</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a href="#" uib-tooltip="Pulls in missing items from Steam into our database.">
                <confirm-button pre-class="btn btn-danger btn-lg" confirm-class="btn btn-danger btn-lg" pre-text="Pull from Steam" confirm-text="Sure?" execute="sync()">
                    <i class="fa fa-refresh"></i>
                </confirm-button>
            </a>
            <a href="#" uib-tooltip="Lists missing items from our database.">
                <confirm-button pre-class="btn btn-danger btn-lg" confirm-class="btn btn-danger btn-lg" pre-text="Find Missing Items" confirm-text="Sure?" execute="findDesycnedItems()">
                    <i class="fa fa-search"></i>
                </confirm-button>
            </a>
            <a href="#" uib-tooltip="Finds items which are in our db but not in our Steam bots">
                <confirm-button pre-class="btn btn-danger btn-lg" confirm-class="btn btn-danger btn-lg" pre-text="Find Stale Items" confirm-text="Sure?" execute="findStaleItems()">
                    <i class="fa fa-search"></i>
                </confirm-button>
            </a>
            <a href="#" uib-tooltip="Finds items with same Asset ID">
                <button class="btn btn-warning btn-lg" ng-click="findDuplicates()">Find Duplicates</button>
            </a>
            <!--<button class="btn btn-danger btn-lg" ng-click="findUnlinkedItems()">Find Unlinked Steam Items</button>-->
            <a href="#" uib-tooltip="Create metadata for all items used for store searching. (It shouldn't be needed in general)">
                <button class="btn btn-warning btn-lg" ng-click="createMetaData()">Create Metadata</button>
            </a>

            <div class="btn-group pull-right">
                <label class="btn btn-primary btn-lg" ng-model="inventoryItemType" uib-btn-radio="'all'" ng-click="changePage(1, inventoryItemType)">All</label>
                <label class="btn btn-primary btn-lg" ng-model="inventoryItemType" uib-btn-radio="'deposit'" ng-click="changePage(1, inventoryItemType)">Deposit</label>
                <label class="btn btn-primary btn-lg" ng-model="inventoryItemType" uib-btn-radio="'bank'" ng-click="changePage(1, inventoryItemType)">Bank</label>
                <label class="btn btn-primary btn-lg" ng-model="inventoryItemType" uib-btn-radio="'unowned'" ng-click="getUnownedItems(1, inventoryItemType)">Un-owned</label>
            </div>
        </div>
    </div>


    <hr>

    <div class="row">

        <div class="col-sm-8">
            <pre ng-show="desyncedItems">{{ desyncedItems | json }}</pre>
            <pre ng-show="unlinkedItems">{{ unlinkedItems | json }}</pre>

            <table ng-show="duplicates" class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item Name</th>
                        <th>Location</th>
                        <th>Asset Id</th>
                        <th>Owner</th>
                        <th>In Jackpot</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="inventoryItem in duplicates">
                        <th scope="row">{{ ((currentPage - 1) * inventoryItemLimit) + $index + 1 }}</th>
                        <td>{{ inventoryItem.item.item.marketName }}</td>
                        <td>{{ inventoryItem.location }}</td>
                        <td>{{ inventoryItem.assetId }}</td>
                        <td>{{ inventoryItem.user.name }}</td>
                        <td>{{ inventoryItem.inJackpot }}</td>
                        <td>
                            <confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteItem(inventoryItem); findDuplicates()">
                                <i class="fa fa-trash-o"></i>
                            </confirm-button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table ng-show="staleItems" class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item Name</th>
                        <th>Location</th>
                        <th>Asset Id</th>
                        <th>Owner</th>
                        <th>In Jackpot</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="inventoryItem in staleItems">
                        <th scope="row">{{ ((currentPage - 1) * inventoryItemLimit) + $index + 1 }}</th>
                        <td>{{ inventoryItem.item.item.marketName }}</td>
                        <td>{{ inventoryItem.location }}</td>
                        <td>{{ inventoryItem.assetId }}</td>
                        <td>{{ inventoryItem.user.name }}</td>
                        <td>{{ inventoryItem.inJackpot }}</td>
                        <td>
                            <confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteItem(inventoryItem); removeStaleItem(inventoryItem)">
                                <i class="fa fa-trash-o"></i>
                            </confirm-button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center">
                <uib-pagination ng-hide="searchResults" total-items="inventoryItems.total" ng-model="currentPage" max-size="10" items-per-page="inventoryItemLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changePage(currentPage)"></uib-pagination>
            </div>

            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item Name</th>
                        <th>Location</th>
                        <th>Asset Id</th>
                        <th>Owner</th>
                        <th>In Jackpot</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="inventoryItem in inventoryItems.docs" ng-click="getCurrentInventoryItem(inventoryItem)">
                        <th scope="row">{{ ((currentPage - 1) * inventoryItemLimit) + $index + 1 }}</th>
                        <td>{{ inventoryItem.item.item.marketName }}</td>
                        <td>{{ inventoryItem.location }}</td>
                        <td>{{ inventoryItem.assetId }}</td>
                        <td>{{ inventoryItem.user.name }}</td>
                        <td>{{ inventoryItem.inJackpot }}</td>
                        <td>
                            <confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteItem(inventoryItem)">
                                <i class="fa fa-trash-o"></i>
                            </confirm-button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center">
                <uib-pagination ng-hide="searchResults" total-items="inventoryItems.total" ng-model="currentPage" max-size="10" items-per-page="inventoryItemLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changePage(currentPage)"></uib-pagination>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Inventory Item Actions</h3>
                </div>
                <div class="panel-body">
                    <uib-tabset>
                        <uib-tab heading="Properties">
                            <form ng-submit="updateInventoryItem(currentInventoryitem)">
                                <div class="form-group">
                                    <label>Item</label>
                                    <input type="text" class="form-control" placeholder="Item" ng-model="currentInventoryitem.item.item.marketName" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <input type="text" class="form-control" placeholder="Location" ng-model="currentInventoryitem.location" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Owner</label>
                                    <input type="text" class="form-control" placeholder="Owner" ng-model="currentInventoryitem.user.name" disabled>
                                </div>
                                <div class="form-group">
                                    <label>In Jackpot</label>
                                    <input type="text" class="form-control" ng-model="currentInventoryitem.inJackpot">
                                </div>
                                <div class="form-group">
                                    <label>Metadata</label>
                                    <pre>{{ currentInventoryitem.metadata | json }}</pre>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                            <button class="btn btn-warning" ng-click="clearUser(currentInventoryitem)">Clear User</button>
                            <form ng-submit="searchUser(searchQuery)">
                                <div class="form-group">
                                    <label>Find new User</label>
                                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchQuery">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Search</button>

                                </div>
                            </form>
                            <hr>
                            <table ng-show="searchResults" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Avatar</th>
                                        <th>Username</th>
                                        <th>Steam ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="user-row" ng-repeat="user in searchResults.docs" ng-click="currentInventoryitem.user = user">
                                        <th scope="row">{{ $index + 1 }}</th>
                                        <td><img ng-src="{{ user.avatar.small }}" alt="{{ user.name }}'s avatar" />
                                        </td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.steamId }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-tab>
                        <uib-tab heading="Steam Trade and Transfer">
                            <form ng-submit="searchUser(searchQuery)">
                                <div class="form-group">
                                    <label>Find User to trade</label>
                                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchQuery">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </form>
                            <hr>
                            <table ng-show="searchResults" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Avatar</th>
                                        <th>Username</th>
                                        <th>Steam ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="user-row" ng-repeat="user in searchResults">
                                        <th scope="row">{{ $index + 1 }}</th>
                                        <td><img ng-src="{{ user.avatar.small }}" alt="{{ user.name }}'s avatar" />
                                        </td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.steamId }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>

    </div>



</page-wrapper>