.how-to {
    .how-to-title {
        margin: 30px 0;
    }
    .step-thumbnail {
        padding-bottom: 30px;
    }
    .thumbnail {
        margin: 0;
    }
    .text-wrapper {
        height: 160px;
    }
}