<navbar></navbar>

<div class="container how-to">

    <div class="col-sm-2">

        <div role="complementary" data-offset-top="-80" data-offset-unpin="10" bs-affix>
            <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                <li ng-repeat="howTo in howTos" ng-class="{ 'active': getLocationHash() === '#{{ howTo.id }}' || $first && getLocationHash() === '' }"><a ng-href="#{{ howTo.id }}" translate>{{ howTo.title }}</a></li>
            </ul>
        </div>

    </div>

    <div class="col-sm-10">

        <div id="{{ howTo.id }}" ng-repeat="howTo in howTos" class="row">
            <h1 class="text-center page-header" translate>{{ howTo.title }}</h1>

            <div class="row">
                <div ng-repeat="step in howTo.steps" class="col-sm-6 col-md-6 step-thumbnail">
                    <div class="thumbnail">
                        <img ng-src="{{ step.image }}" alt="...">
                        <div class="caption text-wrapper">
                            <h3 class="text-center" translate>{{ step.heading }}</h3>
                            <hr />
                            <p class="text-center" translate>{{ step.description }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer></footer>