.chat-box {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    .message-container {
        height: calc(100% - 50px);
        width: 100%;
        padding: 7px;
    }
    .send-button {
        position: absolute;
        bottom: 0;
        padding: 7px;
    }
    .message {
        margin: 4px 0;
        .avatar {
            width: 25px;
            display: inline;
        }
        .name {
            margin: 0 0 0 5px;
        }
    }
    .error {
        color: #f82121;
        font-size: 0.8em;
    }
}