<div class="chat-box" style="height: {{ height }}">
    <div perfect-scrollbar class="message-container" wheel-speed="1" min-scrollbar-length="20" suppress-scroll-x="true" scroll-glue>
        <div class="message" ng-repeat="data in chat">
            <img ng-hide="data.error" class="img-responsive avatar" ng-src="{{ data.user.avatar.small }}" /><span ng-hide="data.error" class="text"><a class="name" ng-href="http://steamcommunity.com/profiles/{{ data.user.steamId }}" target="_blank">{{ data.user.name | urlRemove }}:</a> {{ data.message }}</span>
            <span ng-show="data.error" class="error" translate>{{ data.error }}</span>
        </div>
    </div>
    <div class="send-button">
        <form name="chatForm" ng-submit="sendChat(chatForm.$valid)" novalidate>
            <div class="input-group">
                <input name="chatMessage" type="text" class="form-control" ng-model="chatMessage" placeholder="{{ (isLoggedIn ? 'JACKPOT.CHAT.TYPE_MESSAGE' : 'JACKPOT.CHAT.LOGIN_TO_CHAT') | translate }}" autocomplete="off" maxlength="85" required ng-disabled="!isLoggedIn" />
                <span class="input-group-btn"><button class="btn btn-default btn-height-fix" type="submit" ng-disabled="!isLoggedIn" translate>JACKPOT.CHAT.SEND</button></span>
            </div>
        </form>
    </div>
</div>