<page-wrapper title="Trade Management">

    <div class="row">
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">Key</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Colour</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                            <th scope="row"><strong class="text-success">Green</strong></th>
                            <td>Fulfilled</td>
                        </tr>
                        <tr class="warning">
                            <th scope="row"><strong class="text-warning">Amber</strong></th>
                            <td>Sent</td>
                        </tr>
                        <tr class="danger">
                            <th scope="row"><strong class="text-danger">Red</strong></th>
                            <td>Declined</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">

            <div class="text-center">
                <uib-pagination total-items="deposits.total" ng-model="currentDepositPage" max-size="10" items-per-page="tradeOfferLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changeDeposit(currentDepositPage)"></uib-pagination>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Deposit Log</h3>
                </div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>Destination</th>
                            <th>Info</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="deposit in deposits.docs" ng-class="{ 'warning': deposit.state == 'sent', 'success': deposit.state == 'fulfilled', 'danger': deposit.state == 'declined' }">
                            <th scope="row">{{ ((currentDepositPage - 1) * tradeOfferLimit) + $index + 1 }}</th>
                            <td>{{ deposit.date | date : 'MMM d, y HH:mm:ss' }}</td>
                            <td>{{ deposit.user.name }}</td>
                            <td>{{ deposit.destination }}</td>
                            <td>
                                <button class="btn btn-primary btn-xs" ng-click="moreInfo(deposit)">More Info</button>
                            </td>
                            <td>
                                <confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteDeposit(deposit, currentDepositPage)">
                                    <i class="fa fa-trash-o"></i>
                                </confirm-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6">

            <div class="text-center">
                <uib-pagination total-items="withdraws.total" ng-model="currentWithdrawPage" max-size="10" items-per-page="tradeOfferLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changeWithdraw(currentWithdrawPage)"></uib-pagination>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Withdrawal Log</h3>
                </div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>Info</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="withdraw in withdraws.docs" ng-class="{ 'warning': withdraw.state == 'sent', 'success': withdraw.state == 'fulfilled', 'danger': withdraw.state == 'declined' }">
                            <th scope="row">{{ ((currentWithdrawPage - 1) * tradeOfferLimit) + $index + 1 }}</th>
                            <td>{{ withdraw.date | date : 'MMM d, y HH:mm:ss' }}</td>
                            <td>{{ withdraw.user.name }}</td>
                            <td>
                                <button class="btn btn-primary btn-xs" ng-click="moreInfo(withdraw)">More Info</button>
                            </td>
                            <td>
                                <confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteWithdraw(withdraw, currentWithdrawPage)">
                                    <i class="fa fa-trash-o"></i>
                                </confirm-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</page-wrapper>