<div class="modal-header">
    <h3 class="modal-title">More Info on Trade <small>{{ trade.type }}</small></h3>
</div>

<table class="table table-condensed">
    <tbody>
        <tr>
            <th scope="row">Date</th>
            <td>{{ trade.date | date: 'MMM d, y HH:mm:ss' }}</td>
        </tr>
        <tr>
            <th scope="row">User</th>
            <td>{{ trade.user.name }}</td>
        </tr>
        <tr>
            <th scope="row">Trade Offer ID</th>
            <td>{{ trade.tradeOfferId }}</td>
        </tr>
        <tr>
            <th scope="row">User Steam Id</th>
            <td>{{ trade.steamId }}</td>
        </tr>
        <tr>
            <th scope="row">Trade State</th>
            <td>{{ trade.state }}</td>
        </tr>
        <tr>
            <th scope="row">Trade Type</th>
            <td>{{ trade.type }}</td>
        </tr>
        <tr>
            <th scope="row">Destination</th>
            <td>{{ trade.destination }}</td>
        </tr>
    </tbody>
</table>

<div class="modal-body">
    <h4>Items</h4>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in trade.items">
                <th scope="row">{{ $index + 1 }}</th>
                <td>{{ item.item.marketName }}</td>
                <td>{{ item.price.value | currency }}</td>
            </tr>
        </tbody>
    </table>

    <div ng-show="trade.inventoryItemIds.length > 0">
        <h4>Inventory Items to be traded</h4>
        <p>Used for deleting item from withdraw purposes</p>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Inventory Item</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="inventoryItemId in trade.inventoryItemIds">
                    <th scope="row">{{ $index + 1 }}</th>
                    <td>{{ inventoryItemId }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Finish</button>
</div>