<page-wrapper title="Email Management">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Compose</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <textarea class="form-control" ng-model="emailBody" placeholder="Email body" style="resize:vertical; height: 700px"></textarea>
            </div>

            <div class="pull-right">
                <confirm-button pre-class="btn btn-primary btn-lg" confirm-class="btn btn-danger btn-lg" pre-text="Mass Send to all Users" confirm-text="Are you absolutely sure?" execute="bulkSendEmails(emailBody)">
                    <i class="fa fa-share"></i>
                </confirm-button>
            </div>

            <div class="pull-left">
                <div class="input-group" style="width: 400px">
                    <input type="email" class="form-control" ng-model="testEmail" placeholder="Test email">
                    <span class="input-group-btn"><button class="btn btn-default btn-height-fix" type="button">Test send</button></span>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Very Rough Preview</h3>
            </div>
            <div class="panel-body">
                <div ng-bind-html="emailBody"></div>
            </div>
        </div>
    </div>

</page-wrapper>