.account-jumbotron {
    background-image: url(/assets/images/account/jumbotron.png);
}

.side-nav-no-padding {
    padding-left: 0px;
}

.account-nav {
    .disabled-tab {
        pointer-events: none;
        cursor: not-allowed;
    }
}