<navbar></navbar>

<div class="generic-jumbotron account-jumbotron">
    <div class="jumbotron-pattern">
        <div class="jumbotron-text">
            <h1></h1>
            <p></p>
        </div>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs jumbotron-padding account-nav">
        <li ng-repeat="item in menu" role="presentation" ui-sref-active="active">
            <a ui-sref="{{ item.link }}" translate>{{ item.title }}</a>
        </li>
    </ul>
</div>

<ui-view></ui-view>

<footer></footer>