<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="panel panel-default">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th translate>ACCOUNT.LP_HISTORY.NUMBER_HASH</th>
                            <th translate>ACCOUNT.LP_HISTORY.DATE</th>
                            <th translate>ACCOUNT.LP_HISTORY.TIME</th>
                            <th translate>ACCOUNT.LP_HISTORY.GAINED_LOYALTY_POINTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{ 'success' : login.lpRedeemed }" ng-repeat="login in loginLogs">
                            <th scope="row">{{ $index + 1 }}</th>
                            <td>{{ login.date | date : 'mediumDate' }}</td>
                            <td>{{ login.date | date : 'mediumTime' }}</td>
                            <td>{{ login.lpRedeemed ? 'Yes' : 'No' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading" translate>ACCOUNT.LP_HISTORY.NEXT_LP_GIVEAWAY</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <p class="col-xs-4 text-right lead">{{ displayCountdownTime.hours || 0 }}</p>
                            <div class="col-sm-7">
                                <p class="lead" translate>ACCOUNT.LP_HISTORY.HOURS</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="col-sm-4 text-right lead">{{ displayCountdownTime.minutes || 0 }}</p>
                            <div class="col-sm-7">
                                <p class="lead" translate>ACCOUNT.LP_HISTORY.MINUTES</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="col-sm-4 text-right lead">{{ displayCountdownTime.seconds || 0 }}</p>
                            <div class="col-sm-7">
                                <p class="lead" translate>ACCOUNT.LP_HISTORY.SECONDS</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>