<div class="container">

    <div class="row">
        <div class="col-sm-10">
            <div deckgrid class="deckgrid" source="myInventory" cardTemplate="components/deckgrid-card/item-card.html"></div>

            <div ng-show="myInventory.length === 0" class="col-sm-10 text-center">
                <i class="fa fa-frown-o fa-5x"></i>
                <h3 translate>ACCOUNT.INVENTORY_EMPTY</h3>
            </div>
        </div>

        <div class="col-sm-2 side-nav-no-padding" id="leftCol">
            <div class="panel panel-default" role="complementary" data-offset-top="-80" data-offset-unpin="10" bs-affix>
                <div class="panel-body">
                    <label translate>ACCOUNT.ITEM_SUMMARY.SELECTED</label>
                    <p class="lead" translate>{{ itemUtilityService.getCount(myInventory) || 'None' }}</p>
                    <label translate>ACCOUNT.ITEM_SUMMARY.VALUE</label>
                    <p class="lead">{{ itemUtilityService.getTotalCostInDollar(myInventory) }}</p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary btn-block" ng-click="withdrawItems()" ng-disabled="withdrawing">
                        <i ng-show="withdrawing" class="fa fa-spinner fa-pulse fa-fw fa-lg"></i>
                        <span ng-hide="withdrawing" translate>ACCOUNT.ITEM_SUMMARY.WITHDRAW</span>
                        <span ng-show="withdrawing" translate>ACCOUNT.ITEM_SUMMARY.WITHDRAWING</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>