<div class="container">
    <div ng-show="inboxMessages.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th>Notification</th>
                    <th class="pull-right">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in inboxMessages">
                    <td>
                        <strong translate>{{ message.title }}</strong>
                        <p translate>{{ message.message }}</p>
                    </td>
                    <td>
                        <span class="pull-right"><i class="fa fa-clock-o"></i> {{ message.date | date : 'medium' }}</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <uib-pagination total-items="totalPosts" ng-model="currentPage" max-size="10" items-per-page="postLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changePage(currentPage)"></uib-pagination>
        </div>
    </div>

    <div ng-hide="inboxMessages.length > 0">
        <h1 class="text-center">No notifications</h1>
    </div>
</div>