.winner-thumbnail {
    padding: 0;
    width: 250px;
    height: 310px;
    background-color: #24292f;
    display: inline-block;
    white-space: normal;
    .details {
        @extend .caption;
        position: relative;
        margin: 15px;
        padding: 5px;
        background-color: #2d3339;
        color: aliceblue;
        text-transform: uppercase;
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 0 15px 15px;
            border-color: #2d3339 transparent;
            display: block;
            width: 0;
            z-index: 1;
            top: -15px;
            left: 26px;
        }
    }
}