<div class="winner-thumbnail">
    <div class="row">
        <div class="col-sm-12">
            <item-thumbnail src="src"></item-thumbnail>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="details">
                <p>{{ title }}</p>
                <p>{{ text }}</p>
            </div>
        </div>
    </div>
</div>