<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-body">
                    <form class="form" name="form" role="form" ng-submit="login(form.$valid)" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" placeholder="Username" name="username" type="text" autofocus="" ng-model="username" autocomplete="off" required />
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="password" required />
                            </div>

                            <div class="form-group">
                                <label>Two-Factor Auth token</label>
                                <input type="text" name="password" class="form-control" ng-model="twoFactor" placeholder="Two-Factor Auth token" ng-model="twoFactor" autocomplete="off" required />
                            </div>

                            <div class="form-group" ng-show="form.username.$error.required && form.password.$error.required && submitted">
                                <div class="alert alert-danger" role="alert">
                                    <p>
                                        Please enter your username, password and auth token.
                                    </p>
                                    <p ng-show="form.username.$error.username && submitted">
                                        Please enter a valid username.
                                    </p>
                                    <p>{{ errors.other }}</p>
                                </div>
                            </div>

                            <button href="index.html" class="btn btn-lg btn-success btn-block" type="submit">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>