.trash {
    color: rgb(209, 91, 71);
}

.input-xs {
    padding: 1px 5px;
    height: 22px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.clearfix-height-fixate {
    height: 30px;
}

.nav-tabs {
    margin-bottom: 10px;
}