$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    overflow-y: scroll;
}

.btn-height-fix {
    height: 34px;
}

// Component styles are injected through grunt
// injector
@import 'admin.scss';
@import 'main/main.scss';
@import 'sb-admin-2.scss';
@import 'user/user.scss';
@import '../components/footer/footer.scss';
@import '../components/item-store/steam/item-store.scss';
@import '../components/modal/modal.scss';
// endinjector