.selectable-thumbnail {
    margin-bottom: 7px;
    cursor: pointer;
    position: relative;
    border: 2px solid #889299;
    .triangle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 35px 35px;
        border-color: transparent transparent #889299 transparent;
    }
    .icon {
        position: absolute;
        bottom: 0;
        right: 4px;
        color: #212121;
    }
}

.selectable-thumbnail-selected {
    border: 2px solid #6ab93b;
    .triangle {
        border-color: transparent transparent #6ab93b transparent;
    }
}

.selectable-thumbnail-hoverable {
    &:hover {
        border: 2px solid #4d5b64;
        .triangle {
            border-color: transparent transparent #4d5b64 transparent;
        }
    }
}

.selectable-thumbnail-locked {
    border: 2px solid #3b88f2;
    .triangle {
        border-color: transparent transparent #3b88f2 transparent;
    }
}