<page-wrapper title="Announcement Management">

    <div class="row">
        <div class="col-sm-6">
            <div ng-repeat="announcement in announcements" class="panel panel-default" ng-class="{ 'panel-success': announcement.turnedOn }">
                <div class="panel-heading clearfix">
                    <div class="pull-left clearfix-height-fixate">
                        <switch ng-model="announcement.turnedOn" ng-change="updateAnnouncement(announcement)"></switch>
                    </div>
                    <div class="pull-right">
                        <!--<button ng-show="post.edit" class="btn btn-sm btn-success" ng-click="post.edit = undefined; updatePost(post)"><i class="fa fa-floppy-o"></i> Finish</button>
                        <button ng-hide="post.edit" class="btn btn-sm btn-primary" ng-click="post.edit = true"><i class="fa fa-pencil"></i> Edit</button>-->
                        <confirm-button pre-class="btn btn-warning btn-sm" confirm-class="btn btn-danger btn-sm" pre-text="Delete" confirm-text="Sure?" execute="deleteAnnouncement(announcement)"><i class="fa fa-trash-o"></i>
                        </confirm-button>
                    </div>
                </div>
                <div class="panel-body">
                    {{ announcement.message }}
                </div>
            </div>

        </div>

        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">New Announcement</h3>
                </div>
                <div class="panel-body">
                    <form ng-submit="addAnnouncement(newAnnouncementMessage)">
                        <text-angular ng-model="newAnnouncementMessage" required></text-angular>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</page-wrapper>