<page-wrapper title="Chat Management">

    <div class="row">

        <div class="col-sm-6">

            <h2>Jackpot Chat</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Message</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="chat in jackpotChats">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td>{{ chat.date | date:'medium' }}</td>
                        <td>{{ chat.user.name }}</td>
                        <td>{{ chat.message }}</td>
                        <td>
                            <confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteJackpotChat(chat)">
                                <i class="fa fa-trash-o"></i>
                            </confirm-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-6">

            <h2>Crate Chat</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Message</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="chat in crateGameChats">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td>{{ chat.date | date:'medium' }}</td>
                        <td>{{ chat.user.name }}</td>
                        <td>{{ chat.message }}</td>
                        <td>
                            <confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteCrateGameChat(chat)">
                                <i class="fa fa-trash-o"></i>
                            </confirm-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</page-wrapper>