<navbar></navbar>

<div class="generic-jumbotron about-jumbotron">
    <div class="jumbotron-pattern">
        <div class="jumbotron-text">
            <h1 translate>ABOUT.JUMBOTRON.HEADING</h1>
            <p translate>ABOUT.JUMBOTRON.DESCRIPTION</p>
        </div>
    </div>
</div>

<div class="container">

    <h1 class="text-center page-heading" translate>ABOUT.MISSION_STATEMENT.HEADING</h1>
    <blockquote>
        <div class="mission-statement">
            <p class="lead text-center" translate>ABOUT.MISSION_STATEMENT.DESCRIPTION_1</p>
            <p class="lead text-center" translate>ABOUT.MISSION_STATEMENT.DESCRIPTION_2</p>
        </div>
    </blockquote>
    <h1 class="text-center page-heading" translate>ABOUT.TITLE</h1>

    <p class="lead text-center" translate translate-compile>ABOUT.LEAD</p>

    <div class="row biography-section">
        <div class="col-sm-3">
            <img class="profile-pic" src="/assets/images/about/harry.png" />
        </div>

        <div class="col-sm-9 biography">
            <h3>{{ 'ABOUT.STAFF.HARRY.NAME' | translate }}<p class="role"><small translate>ABOUT.STAFF.HARRY.ROLE</small></p>
            </h3>
            <p translate>ABOUT.STAFF.HARRY.DESCRIPTION_1</p>
            <p translate>ABOUT.STAFF.HARRY.DESCRIPTION_2</p>
        </div>
    </div>

    <div class="row biography-section">
        <div class="col-sm-9 biography">
            <h3>{{ 'ABOUT.STAFF.DOLAN.NAME' | translate }}<p class="role"><small translate>ABOUT.STAFF.DOLAN.ROLE</small></p></h3>
            <p translate>ABOUT.STAFF.DOLAN.DESCRIPTION_1</p>
            <p translate>ABOUT.STAFF.DOLAN.DESCRIPTION_2</p>
        </div>

        <div class="col-sm-3">
            <img class="profile-pic" src="/assets/images/about/dolan.png" />
        </div>
    </div>

    <div class="row biography-section">
        <div class="col-sm-3">
            <img class="profile-pic" src="/assets/images/about/ricky.png" />
        </div>
        
        <div class="col-sm-9 biography">
            <h3>Ricky Wong<p class="role"><small translate>ABOUT.STAFF.RICKY.ROLE</small></p>
            </h3>
            <p translate>ABOUT.STAFF.RICKY.DESCRIPTION_1</p>
            <p translate>ABOUT.STAFF.RICKY.DESCRIPTION_2</p>
        </div>
    </div>
</div>

<footer></footer>