.about-jumbotron {
    background-image: url(/assets/images/about/jumbotron.png);
}

.biography-section {
    margin: 60px 0;
    .profile-pic {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .biography {
        p {
            font-size: 19px;
        }
        small {
            font-size: 19px;
        }
        .role {
            margin: 10px 0;
        }
    }
}

.page-heading {
    margin: 70px 0 35px 0;
    font-size: 40px
}

.mission-statement {
    .quote {
        
    }
}