<navbar></navbar>

<div class="generic-jumbotron contact-jumbotron">
    <div class="jumbotron-pattern">
        <div class="jumbotron-text">
            <h1>We want to hear from you</h1>
            <p>Have a question or an exciting proposal? Lets talk.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="contact-us">
        <div class="section">
            <h1>Business Related Enquires</h1>
            <p class="lead">Please email us at <a href="mailto:business@opcrates.com" target="_top">business@opcrates.com</a></p>
        </div>
        <div class="section">
            <h1>General Enquiries</h1>
            <form ng-hide="hideContactForm" name="contactForm" ng-submit="submitContactForm(contactForm.$valid)" novalidate>
                <div class="alert alert-danger" role="alert" ng-show="error"><strong>Whoops!</strong> Something went wrong, is your email address correct?</div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6" ng-class="{ 'has-error': contactForm.firstName.$invalid && submitted }">
                            <label>First Name *</label>
                            <input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model="firstName" required/>
                        </div>

                        <div class="col-xs-6" ng-class="{ 'has-error': contactForm.lastName.$invalid && submitted }">
                            <label>Last Name *</label>
                            <input type="text" name="lastName" class="form-control" placeholder="Last Name" ng-model="lastName" required/>
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger" role="alert" ng-show="contactForm.firstName.$invalid && submitted"><strong>Whoops!</strong> Missing First Name</div>
                <div class="alert alert-danger" role="alert" ng-show="contactForm.lastName.$invalid && submitted"><strong>Whoops!</strong> Missing Last Name</div>

                <div class="form-group" ng-class="{ 'has-error': contactForm.email.$invalid && submitted }">
                    <label for="email">Email Address *</label>
                    <input type="email" name="email" class="form-control" placeholder="Email Address" ng-model="email" required/>
                </div>

                <div class="alert alert-danger" role="alert" ng-show="contactForm.email.$invalid && submitted"><strong>Whoops!</strong> Email is invalid</div>

                <div class="form-group" ng-class="{ 'has-error': contactForm.subject.$invalid && submitted }">
                    <label for="subject">Subject *</label>
                    <input type="text" name="subject" class="form-control" cols="50" placeholder="Subject" ng-model="subject" required />
                </div>

                <div class="alert alert-danger" role="alert" ng-show="contactForm.subject.$invalid && submitted"><strong>Whoops!</strong> Subject is missing</div>

                <div class="form-group" ng-class="{ 'has-error': contactForm.message.$invalid && submitted }">
                    <label for="message">Message *</label>
                    <textarea type="text" name="message" rows="6" class="form-control" cols="50" placeholder="Message" ng-model="message" required></textarea>
                </div>

                <div class="alert alert-danger" role="alert" ng-show="contactForm.message.$invalid && submitted"><strong>Whoops!</strong> Message is missing</div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Send Message</button>
                </div>
            </form>
            <div ng-show="hideContactForm">
                <h3>Thank you for your enquiry</h3>
                <p>We will try and get back to you fairly shortly!</p>
            </div>
        </div>
    </div>
</div>

<footer></footer>