<navbar></navbar>

<div class="generic-jumbotron news-jumbotron jumbotron-padding">
    <div class="jumbotron-pattern">
        <div class="jumbotron-text">
            <h1 translate>NEWS.JUMBOTRON.HEADING</h1>
            <p translate>NEWS.JUMBOTRON.DESCRIPTION</p>
        </div>
    </div>
</div>

<ui-view>
    <div class="container">
        <div ncy-breadcrumb></div>

        <news-post-summary ng-repeat="post in news.docs" post="post"></news-post-summary>

        <div class="text-center">
            <uib-pagination total-items="news.total" ng-model="currentPage" max-size="10" items-per-page="postLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changePage(currentPage)"></uib-pagination>
        </div>
    </div>

</ui-view>

<footer></footer>