.news-jumbotron {
    background-image: url(/assets/images/news/jumbotron.png);
}

.news-post {
    .post-thumbnail {
        padding-left: 0px;
        position: relative;
        .post-image {
            height: 173px;
            overflow: hidden;
        }
    }
    .post-body {
        padding: 15px 15px 15px 0;
        overflow: hidden;
        height: 173px;
        max-height: 173px;
        text-overflow: ellipsis;
        h3 {
            margin-top: 0;
            font-size: 18px;
            .label {
                text-decoration: none;
                font-size: 50%;
                font-weight: normal;
                vertical-align: middle;
            }
        }
        .date {
            color: #aaaaaa;
            font-size: 12px;
        }
    }
    a {
        &:hover {
            color: #346a9a;
            text-decoration: none;
        }
    }
}