<navbar></navbar>

<div class="generic-jumbotron tos-jumbotron">
    <div class="jumbotron-pattern">
        <div class="jumbotron-text">
            <h1 translate>TERMS_OF_SERVICE.JUMBOTRON.HEADING</h1>
            <p translate>TERMS_OF_SERVICE.JUMBOTRON.DESCRIPTION</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="tos">
        <p class="lead" translate>TERMS_OF_SERVICE.LEAD.DESCRIPTION_1</p>
        <blockquote>
            <p translate>TERMS_OF_SERVICE.LEAD.DESCRIPTION_2</p>
        </blockquote>
        <p><strong translate>TERMS_OF_SERVICE.LEAD.DESCRIPTION_3</strong>
        </p>

        <h2 translate>TERMS_OF_SERVICE.SECTION_1.HEADING</h2>
        <p translate>TERMS_OF_SERVICE.SECTION_1.DESCRIPTION_1</p>

        <h2 translate>TERMS_OF_SERVICE.SECTION_2.HEADING</h2>
        <p translate>TERMS_OF_SERVICE.SECTION_2.DESCRIPTION_1</p>

        <h2 translate>TERMS_OF_SERVICE.SECTION_3.HEADING</h2>
        <p translate>TERMS_OF_SERVICE.SECTION_3.DESCRIPTION_1</p>
        <p translate>TERMS_OF_SERVICE.SECTION_3.LIST</p>

        <h2 translate>TERMS_OF_SERVICE.SECTION_4.HEADING</h2>
        <p translate translate-values="{ email: 'info@opcrates.com'}">TERMS_OF_SERVICE.SECTION_4.DESCRIPTION_1</p>

        <h2 translate>TERMS_OF_SERVICE.SECTION_5.HEADING</h2>
        <p translate>TERMS_OF_SERVICE.SECTION_5.DESCRIPTION_1</p>

        <h2 translate>TERMS_OF_SERVICE.SECTION_6.HEADING</h2>
        <p translate>TERMS_OF_SERVICE.SECTION_6.DESCRIPTION_1</p>

        <h2 translate>TERMS_OF_SERVICE.SECTION_7.HEADING</h2>
        <p translate>TERMS_OF_SERVICE.SECTION_7.DESCRIPTION_1</p>

        <strong translate>TERMS_OF_SERVICE.NOT_ASSOCIATED_WITH_VALVE</strong>
    </div>
</div>

<footer></footer>