<page-wrapper title="Crate Log Management">

    <form ng-submit="searchItems()">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchCriteria" placeholder="Search for...">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary btn-height-fix" type="button">Search</button></span>
        </div>
    </form>
    <div class="text-center">
        <uib-pagination ng-hide="searchResults" total-items="logsTotal" ng-model="currentPage" max-size="20" items-per-page="logsLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changePage(currentPage)"></uib-pagination>
    </div>
    <div class="text-center">
        <uib-pagination ng-show="searchResults" total-items="searchResults.count" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-change="changePage(currentPage)"></uib-pagination>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Date</th>
                <th>Crate</th>
                <th>Winner</th>
                <th>Prize</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody ng-hide="searchResults">
            <tr ng-repeat="log in logs track by $index">
                <td scope="row">{{ log.date | date : 'medium' }}</td>
                <td>{{ log.crate.name }}</td>
                <td>{{ log.user.name }}</td>
                <td>{{ log.prize.item.item.marketName || log.prize.coin + ' Coins' }}</td>
                <td>
                    <confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteLog(log)">
                        <i class="fa fa-trash-o"></i>
                    </confirm-button>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="searchResults">
            <tr ng-repeat="log in searchResults track by $index">
                <td scope="row">{{ log.date }}</td>
                <td>{{ log.crate }}</td>
                <td>{{ log.user.name }}</td>
                <td>{{ log.prize }}</td>
                <td>
                    <confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-danger btn-xs" pre-text="Delete" confirm-text="Sure?" execute="deleteLog(log)">
                        <i class="fa fa-trash-o"></i>
                    </confirm-button>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="searchResults.length === 0">
        <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> No Results</div>
    </div>

</page-wrapper>