<page-wrapper title="Login Log Management">

    <form ng-submit="searchItems()">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchCriteria" placeholder="Search for...">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary btn-height-fix" type="button">Search</button></span>
        </div>
    </form>
    <div class="text-center">
        <uib-pagination ng-hide="searchResults" total-items="logsTotal" ng-model="currentPage" max-size="20" items-per-page="logsLimit" class="pagination-sm" boundary-links="true" rotate="false" ng-change="changePage(currentPage)"></uib-pagination>
    </div>
    <div class="text-center">
        <uib-pagination ng-show="searchResults" total-items="searchResults.count" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-change="changePage(currentPage)"></uib-pagination>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Free Crate Opened</th>
            </tr>
        </thead>
        <tbody ng-hide="searchResults">
            <tr ng-repeat="log in logs track by $index">
                <td scope="row">{{ log.date | date : 'medium' }}</td>
                <td>{{ log.user.name }}</td>
                <td>{{ log.freeCrateOpened }}</td>
            </tr>
        </tbody>
        <tbody ng-show="searchResults">
            <tr ng-repeat="log in searchResults track by $index">

            </tr>
        </tbody>
    </table>
    <div ng-show="searchResults.length === 0">
        <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> No Results</div>
    </div>

</page-wrapper>