<page-wrapper title="Custom Items">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add custom item</h3>
        </div>
        <div class="panel-body">
            <form name="itemForm" ng-submit="addItem(itemForm, marketName, price, iconUrl)" novalidate>
                <div class="form-group">
                    <label>Item market name</label>
                    <input type="text" class="form-control" ng-model="marketName" placeholder="Item market name..." required>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" ng-model="price">
                    </div>
                </div>
                <div class="form-group">
                    <label>Icon URL (without 'https://steamcommunity-a.akamaihd.net/economy/image/')</label>
                    <input type="text" class="form-control" ng-model="iconUrl" placeholder="-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpouLWzKjhz3MzbcDNG09GzkImemrnwYOOGwjIJ7JB1j-3D9Nms0FDh_0tqYjulLNCWdFNvZl7QrlPswOu6m9bi6_rlVdP1" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" type="button">Add</button>
                </div>
                <div ng-show="itemForm.$invalid && submitted" class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> Please check your values. One of the fields is invalid.
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Market Name</th>
                <th>Model</th>
                <th>Set</th>
                <th>Exterior</th>
                <th>Price</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody ng-hide="searchResults">
            <tr ng-repeat="item in items track by $index">
                <td scope="row">{{ item.item.marketName }}</td>
                <td>{{ item.item.model }}</td>
                <td>{{ item.item.set }}</td>
                <td>{{ item.item.exterior }}</td>
                <td>{{ item.price.value | currency }} {{ item.price.currency }}</td>
                <td>
                    <confirm-button pre-class="btn btn-xs btn-warning" confirm-class="btn btn-xs btn-danger" pre-text="Delete" confirm-text="Sure?" execute="deleteItem(item._id, $index)"><i class="fa fa-trash-o"></i></confirm-button>
                </td>
            </tr>
        </tbody>
    </table>

</page-wrapper>