<page-wrapper title="Jackpot Management">

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-ticket fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ jackpotEntries.length }}</div>
                            <div>Total Entries</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-rocket fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ activeBots.length || 0 }}</div>
                            <div>Alive bots</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">0</div>
                            <div>Total pending trades right now</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-archive fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">0 / {{ bots.length * 1000 }}</div>
                            <div>Total Stock</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>User</th>
                <th>Item</th>
                <th>Asset ID</th>
                <th>Refund</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="jackpotEntry in jackpotEntries">
                <td>{{ jackpotEntry.user.name }}</td>
                <td>{{ jackpotEntry.item.item.marketName }}</td>
                <td>{{ jackpotEntry.assetId }}</td>
                <td>
                    <!--<confirm-button pre-class="btn btn-warning btn-xs" confirm-class="btn btn-success btn-xs" pre-text="Refund" confirm-text="Sure?" execute="refundItem(jackpotEntry)">
                        <i class="fa fa-undo"></i>
                    </confirm-button>-->
                    <button class="btn btn-warning btn-xs" ng-click="refundItem(jackpotEntry)"><i class="fa fa-undo"></i> Refund</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    {{ jackpotEntries2 }}
</page-wrapper>