<div class="big-progress">
    <div class="bar" style="background-color:#24A0E0;width:{{ value/max * 100 }}%;">
        <div class="background percentage-text" style="width:{{ barWidth }}px;">{{ value/max * 100 | number:0 }}</div>
        <div class="percentage-overlay">
            <div class="foreground percentage-text" style="width:{{ barWidth }}px;">{{ value/max * 100 | number:0 }}</div>
        </div>
    </div>
</div>