<div class="row user-progress">
    <div class="col-xs-1">
        <img class="avatar" ng-src="{{ imageUrl }}" alt="User profile image" uib-tooltip="{{ name }}" uib-tooltip-placement="left" uib-tooltip-trigger="mouseenter" />
    </div>

    <div class="col-xs-11">
        <big-progress value="value" max="max"></big-progress>
    </div>
</div>