.user-progress {
    .avatar {
        height: 32px;
    }
    .percentage-text {
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 2em;
        line-height: 1;
        color: #24A0E0;
        text-shadow: 0px 1px 0px #144762;
        -webkit-font-smoothing: none;
        font-smooth: never;
    }
}