.jackpotRecentWinner {
    margin: 10px 0;
    .avatar {
        border-radius: 3px;
    }
    .details {
        .name {
            color: #0d4c83;
            margin-bottom: 2px;
            font-size: 1.1em;
        }
        .description {
            font-size: 0.9em;
        }
    }
    .item {
        margin: 5px;
        float: left;
        position: relative;
    }
    .item-count {
        font-size: 0.84em;
        position: relative;
        float: left;
        margin: 18px 0 0 10px;
        color: #747474;
    }
    .total-pot {
        font-size: 1.5em;
        font-weight: bold;
        color: #4b864b;
        direction: rtl;
    }
    /*hr {
        margin-top: 4px;
        margin-bottom: 4px;
    }*/
}