<div class="jackpotRecentWinner">

    <div class="row col-vertical-align">
        <div class="col-sm-1">
            <img class="img-responsive avatar" ng-src="{{ jackpotLog.winnerInfo.user.avatar.large }}" />
        </div>

        <div class="col-sm-4 details">
            <p class="name"><a class="name" ng-href="http://steamcommunity.com/profiles/{{ jackpotLog.winnerInfo.user.steamId }}" target="_blank">{{ jackpotLog.winnerInfo.user.name | urlRemove }}</a></p>
            <span class="description">won <strong>{{ jackpotLog.pot.entries.length }}</strong> items with a <strong>{{ (jackpotLog.winnerInfo.chance * 100).toFixed(2) }}%</strong> chance, making a profit of <strong>{{ jackpotLog.pot.value - jackpotLog.winnerInfo.value | currency }}</strong>.</span>
        </div>

        <div class="col-sm-6">
            <div class="item" ng-repeat="entry in itemUtilityService.sortInventory(jackpotLog.pot.entries) | limitTo: 6 track by $index" uib-tooltip="{{ entry.item.item.marketName }} ({{ entry.item.price.value | currency }})" tooltip-placement="top" tooltip-trigger="mouseenter">
                <item-thumbnail src="entry.item.iconUrl" size="60"></item-thumbnail>
            </div>

            <div ng-show="jackpotLog.pot.entries.length - 6 > 0" class="item-count">
                <span>+{{ jackpotLog.pot.entries.length - 6 }} more</span>
            </div>
        </div>

        <div class="col-sm-1 total-pot">
            <span>{{ jackpotLog.pot.value | currency }}</span>
        </div>
    </div>
</div>
