<page-wrapper title="Item Overview">

    <form ng-submit="searchItems(searchCriteria)">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchCriteria" placeholder="Search for...">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary btn-height-fix" type="button">Search</button></span>
        </div>
    </form>
    <div class="text-center">
        <uib-pagination ng-hide="searchResults" total-items="itemTotal.count" ng-model="currentPage" ng-change="paginate(currentPage)" max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
    </div>
    <div class="text-center">
        <uib-pagination ng-show="searchResults" total-items="searchResults.count" ng-model="currentPage" ng-change="paginateSearch(currentPage)" max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Market Name</th>
                <th>Model</th>
                <th>Set</th>
                <th>Exterior</th>
                <th>Price</th>
                <th>Blacklist</th>
                <th>Custom Price</th>
            </tr>
        </thead>
        <tbody ng-hide="searchResults">
            <tr ng-repeat="item in items track by $index" ng-class="{ 'warning': item.blacklist }">
                <td scope="row">{{ item.item.marketName }} <span ng-show="item.custom" class="label label-info">Custom</span></td>
                <td>{{ item.item.model }}</td>
                <td>{{ item.item.set }}</td>
                <td>{{ item.item.exterior }}</td>
                <td>{{ item.price.value | currency }} {{ item.price.currency }} <span ng-show="!item.custom && item.price.isCustom" class="label label-info">Custom</span></td>
                <td>
                    <button ng-hide="item.blacklist" class="btn btn-xs btn-danger" ng-click="toggleBlacklist(item, $index)">Blacklist</button>
                    <button ng-show="item.blacklist" class="btn btn-xs btn-success" ng-click="toggleBlacklist(item, $index)">Un-Blacklist</button>
                    <!--<toggle-switch model="switchStatus" class="switch-warning"></toggle-switch>-->
                </td>
                <td style="width: 200px">
                    <div class="input-group">
                        <span class="input-group-addon input-xs">$</span>
                        <input type="number" class="form-control input-xs" ng-model="item.price.custom" placeholder="Price...">
                        <span class="input-group-btn"> <button class="btn btn-default btn-xs" type="button" ng-click="updateItem(item, item.price.custom)">Update</button> </span>
                    </div>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="searchResults">
            <tr ng-repeat="item in searchResults track by $index" ng-class="{ 'warning': item.blacklist }">
                <td scope="row">{{ item.item.marketName }} <span ng-show="item.custom" class="label label-info">Custom</span></td>
                <td>{{ item.item.model }}</td>
                <td>{{ item.item.set }}</td>
                <td>{{ item.item.exterior }}</td>
                <td>{{ item.price.value | currency }} {{ item.price.currency }} <span ng-show="!item.custom && item.price.isCustom" class="label label-info">Custom</span></td>
                <td>
                    <button ng-hide="item.blacklist" class="btn btn-xs btn-danger" ng-click="toggleBlacklist(item, $index)">Blacklist</button>
                    <button ng-show="item.blacklist" class="btn btn-xs btn-success" ng-click="toggleBlacklist(item, $index)">Un-Blacklist</button>
                </td>
                <td style="width: 200px">
                    <div class="input-group">
                        <span class="input-group-addon input-xs">$</span>
                        <input type="number" class="form-control input-xs" ng-model="item.price.custom" placeholder="Price...">
                        <span class="input-group-btn"> <button class="btn btn-default btn-xs" type="button" ng-click="updateItem(item, item.price.custom)">Update</button> </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="searchResults.length === 0">
        <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> No Results</div>
    </div>

</page-wrapper>