.giveaway {
    margin-top: 50px;
    margin-bottom: 50px;
    .background {
        background-image: url(/assets/images/giveaway/parallax.png);
        position: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        display: inline-flex;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -10;
        background-color: black;
        img {
            width: 100%;
        }
    }
}