<navbar></navbar>

<div class="giveaway">
    <div class="background">
        <div class="jumbotron-pattern">
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            <img src="http://i.imgur.com/maBxeFt.png" alt="OPCrates Christmas Giveaway - Shadow Daggers Crimson Web" />
        </div>
        <a class="e-widget" href="https://gleam.io/AVQYd/opcrates-christmas-giveaway-shadow-daggers-crimson-web" rel="nofollow">OPCrates Christmas Giveaway - Shadow Daggers Crimson Web</a>
<script type="text/javascript" src="https://js.gleam.io/e.js" async="true"></script>
    </div>
</div>

<footer></footer>