.slot-icon {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    color: #c4c4c4;
    &:hover {
        color: #00baff;
    }
}

.social-icons {
    margin: 15px 0;
    text-align: center;
    .social-icon {
        margin: 0 10px 0 10px;
    }
}