<page-wrapper title="News Management">

    <div class="row">
        <div class="col-sm-5">
            <h2>Posts</h2>

            <div ng-repeat="post in news" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>{{ post.title }}</strong> ({{ post._id }}) <span ng-show="post.label" class="label label-{{ post.label.type.toLowerCase() }}">{{ post.label.text }}</span></h3>
                    <div class="pull-right">
                        <button ng-show="post.edit" class="btn btn-sm btn-success" ng-click="post.edit = undefined; updatePost(post)"><i class="fa fa-floppy-o"></i> Finish</button>
                        <button ng-hide="post.edit" class="btn btn-sm btn-primary" ng-click="post.edit = true"><i class="fa fa-pencil"></i> Edit</button>
                        <confirm-button pre-class="btn btn-warning btn-sm" confirm-class="btn btn-danger btn-sm" pre-text="Delete" confirm-text="Sure?" execute="deletePost(post)"><i class="fa fa-trash-o"></i>
                        </confirm-button>
                    </div>
                </div>

                <div ng-hide="post.edit" class="panel-body">
                    <p><strong>Thumbnail URL: </strong><a href="{{ post.thumbnailUrl }}" target="_blank">{{ post.thumbnailUrl }}</a></p>
                    <p>{{ post.body }}</p>
                    <p><strong>Tags: </strong>{{ post.tags }}</p>
                    <p><strong>Category: </strong>{{ post.category }}</p>
                </div>

                <div ng-show="post.edit" class="panel-body">
                    <p><strong>Thumbnail URL: </strong><a href="{{ post.thumbnailUrl }}" target="_blank">{{ post.thumbnailUrl }}</a></p>
                    <div class="form-group">
                        <label>Post Title</label>
                        <input name="postTitle" class="form-control" ng-model="post.title" placeholder="Post Title" required/>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-9">
                                <label>Post Label (optional)</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="post.label.text" placeholder="Label text (Hot, New, Feature etc)">

                                    <div class="input-group-btn">
                                        <div class="btn-group" uib-dropdown is-open="post.status.isopen">
                                            <button id="single-button" type="button" class="btn btn-primary btn-height-fix btn-{{post.label.type.toLowerCase()}}" uib-dropdown-toggle>
                                                {{ post.label.type || 'Select Label Type' }} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="labelType in labelTypes"><a href ng-click="post.label.type = labelType">{{ labelType }}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <label>Category</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div uib-dropdown>
                                            <button type="button" class="btn btn-primary btn-block" uib-dropdown-toggle>
                                                {{ post.category || 'General' }} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="category in categories" ng-click="post.category = category"><a href>{{ category }}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Post Thumbnail</label>
                        <div class="row">
                            <div class="col-sm-4">
                                <button class="btn btn-primary btn-block" type="file" ngf-select="updateThumbnail(post, $file)" accept="image/*" ngf-max-size="16MB"><i class="fa fa-picture-o"></i> Select Thumbnail</button>
                            </div>
                            <div class="col-sm-8">
                                <p>
                                    <label>File name:</label>
                                    {{ post.file.name }}
                                </p>
                                <p>
                                    <label>File type:</label>
                                    {{ post.file.type }}
                                </p>
                                <p>
                                    <label>File size:</label>
                                    {{ post.file.size | bytes }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Post Body</label>
                        <text-angular ng-model="post.body" required></text-angular>
                    </div>

                    <div class="form-group">
                        <label>Post Tags (optional)</label>
                        <tags-input ng-model="post.tags"></tags-input>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">New Post</h3>
                </div>
                <div class="panel-body">
                    <form ng-submit="addPost(form.$valid)" name="form" novalidate>
                        <div class="form-group">
                            <label>Post Title</label>
                            <input name="newPostTitle" class="form-control" ng-model="newPost.title" placeholder="Post Title" required/>
                        </div>

                        <div class="form-group">
                            <div ng-show="form.newPostTitle.$invalid  && submitted" class="alert alert-danger" role="alert"><strong>Error: </strong> Post title required</div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-9">
                                    <label>Post Label (optional)</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="newPost.label.text" placeholder="Label text (Hot, New, Feature etc)">
                                        <div class="input-group-btn">
                                            <div class="btn-group" uib-dropdown is-open="status.isopen">
                                                <button id="single-button" type="button" class="btn btn-primary btn-height-fix btn-{{ newPost.label.type.toLowerCase() }}" uib-dropdown-toggle ng-disabled="disabled">
                                                    {{ newPost.label.type || 'Select Label Type' }} <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li ng-repeat="labelType in labelTypes"><a href ng-click="newPost.label.type = labelType">{{ labelType }}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>Category</label>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div uib-dropdown>
                                                <button type="button" class="btn btn-primary btn-block" uib-dropdown-toggle>
                                                    {{ newPost.category || 'General' }} <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li ng-repeat="category in categories" ng-click="newPost.category = category"><a href>{{ category }}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Post Thumbnail</label>
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-primary btn-block" type="file" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-size="16MB"><i class="fa fa-picture-o"></i> Select Thumbnail</button>
                                </div>
                                <div class="col-sm-9">
                                    <p>
                                        <label>File name:</label>
                                        {{ $parent.newPostFile.name }}
                                    </p>
                                    <p>
                                        <label>File type:</label>
                                        {{ newPostFile.type }}
                                    </p>
                                    <p>
                                        <label>File size:</label>
                                        {{ newPostFile.size | bytes }}
                                    </p>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ newPostFile.progress }}%;">
                                            {{ newPostFile.progress }}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-show="newPostFile.$error" class="alert alert-danger" role="alert"><strong>Error:</strong> {{ newPostFile.$error }} ({{ newPostFile.$errorParam }})</div>
                            </div>
                            <div class="form-group">
                                <div ng-show="!newPostFile  && submitted" class="alert alert-danger" role="alert"><strong>Error: </strong> Post thumbnail required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Post Body</label>
                            <text-angular name="newPostBody" ng-model="newPost.body" required></text-angular>
                        </div>

                        <div class="form-group">
                            <div ng-show="form.newPostBody.$invalid && submitted" class="alert alert-danger" role="alert"><strong>Error: </strong> Post body required</div>
                        </div>

                        <div class="form-group">
                            <label>Post Tags (optional)</label>
                            <tags-input ng-model="newPost.tags"></tags-input>
                        </div>

                        {{ newPost }}

                        <button type="submit" class="btn btn-primary">Add news post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</page-wrapper>