.crate {
    section {
        margin: 50px 0;
        cursor: pointer;
    }
    .chance {
        width: 150px;
        padding: 5px;
        position: relative;
        float: left;
        text-align: center;
    }
}