<navbar></navbar>

<div class="container crate">

    <div class="page-header">
        <h1 class="text-center">Free</h1>
    </div>

    <section ui-sref="crateGame({name: 'free'})">
        <div class="row">
            <div class="col-md-2 text-center">
                <img class="img-responsive" src="/assets/images/crate/free-crate.png">
                <span>You need opcrates.com in your Steam name to open this Crate.</span>
            </div>
            <div class="col-md-10">
                <slot-unit-demo rarity="1" text="2 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="2" text="5 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="3" text="10 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="4" text="50 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="5" text="100 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="6" text="1000 Coins"></slot-unit-demo>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="chance">60% chance</div>
                <div class="chance">21% chance</div>
                <div class="chance">15% chance</div>
                <div class="chance">3% chance</div>
                <div class="chance">0.8% chance</div>
                <div class="chance">0.2% chance</div>
            </div>
        </div>
    </section>

    <div class="page-header">
        <h1 class="text-center">Premium</h1>
    </div>

    <section ui-sref="crateGame({name: 'water'})">
        <div class="row">
            <div class="col-md-2 text-center">
                <img class="img-responsive" src="/assets/images/crate/water-crate.png">
                <span>1000 Coins</span>
            </div>
            <div class="col-md-10">
                <slot-unit-demo rarity="1" text="100 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="2" text="400 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="3" text="1600 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="4" text="6000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="5" text="12000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="6" text="60000 Coins"></slot-unit-demo>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="chance">60% chance</div>
                <div class="chance">21% chance</div>
                <div class="chance">14.8% chance</div>
                <div class="chance">3% chance</div>
                <div class="chance">0.8% chance</div>
                <div class="chance">0.4% chance</div>
            </div>
        </div>
    </section>

    <hr>

    <section ui-sref="crateGame({name: 'air'})">
        <div class="row">
            <div class="col-md-2 text-center">
                <img class="img-responsive" src="/assets/images/crate/air-crate.png">
                <span>5000 Coins</span>
            </div>
            <div class="col-md-10">
                <slot-unit-demo rarity="1" text="500 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="2" text="2000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="3" text="8000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="4" text="30000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="5" text="60000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="6" text="300000 Coins"></slot-unit-demo>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="chance">57.2% chance</div>
                <div class="chance">23.8% chance</div>
                <div class="chance">14.8% chance</div>
                <div class="chance">3% chance</div>
                <div class="chance">0.8% chance</div>
                <div class="chance">0.4% chance</div>
            </div>
        </div>
    </section>

    <hr>

    <section ui-sref="crateGame({name: 'leaf'})">
        <div class="row">
            <div class="col-md-2 text-center">
                <img class="img-responsive" src="/assets/images/crate/leaf-crate.png">
                <span>10000 Coins</span>
            </div>
            <div class="col-md-10">
                <slot-unit-demo rarity="1" text="1000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="2" text="4000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="3" text="16000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="4" text="60000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="5" text="120000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="6" text="600000 Coins"></slot-unit-demo>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="chance">53.9% chance</div>
                <div class="chance">27.1% chance</div>
                <div class="chance">14.8% chance</div>
                <div class="chance">3% chance</div>
                <div class="chance">0.8% chance</div>
                <div class="chance">0.4% chance</div>
            </div>
        </div>
    </section>

    <hr>

    <section ui-sref="crateGame({name: 'fire'})">
        <div class="row">
            <div class="col-md-2 text-center">
                <img class="img-responsive" src="/assets/images/crate/fire-crate.png">
                <span>20000 Coins</span>
            </div>
            <div class="col-md-10">
                <slot-unit-demo rarity="1" text="2000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="2" text="8000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="3" text="32000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="4" text="120000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="5" text="240000 Coins"></slot-unit-demo>
                <slot-unit-demo rarity="6" text="1200000 Coins"></slot-unit-demo>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="chance">50.5% chance</div>
                <div class="chance">30.5% chance</div>
                <div class="chance">14.8% chance</div>
                <div class="chance">3% chance</div>
                <div class="chance">0.8% chance</div>
                <div class="chance">0.4% chance</div>
            </div>
        </div>
    </section>

</div>
<footer></footer>