<div class="crate-announcement">
    <div class="body {{ tier }}">


            <div class="avatar-container">
                <span><img class="avatar" ng-src="{{ notice.user.avatar.small }}"></span>
            </div>

            <div class="text details">
                <p class="name">{{ notice.user.name | urlRemove }}</p>
                <span class="description" ng-show="notice.prize.coin">has opened <strong>{{ notice.prize.coin }}</strong> Coins</span>
                <span class="description" ng-show="notice.prize.item">has opened a <strong>{{ notice.prize.item.item.marketName }}</strong></span>
                <span class="description"> from <strong>{{ notice.crate.name | titlecase }}</strong> Crate</span>
            </div>

    </div>
</div>