.crate-announcement {
    .body {
        width: 400px;
        padding: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .avatar-container {
        float: left;
        position: relative;
        .avatar {
            border-radius: 3px;
            margin-right: 10px;
        }
    }
    .details {
        .name {
            color: #0d4c83;
            margin-bottom: 0px;
            font-size: 1.1em;
            line-height: 14px;
        }
        .description {
            font-size: 0.9em;
        }
    }
    .common {
        background: linear-gradient(to right, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 0) 70%);
    }
    .uncommon {
        background: linear-gradient(to right, rgba(128, 128, 128, 1) 0%, rgba(128, 128, 128, 0) 70%);
    }
    .rare {
        background: linear-gradient(to right, rgba(38, 188, 73, 1) 0%, rgba(38, 188, 73, 0) 70%);
    }
    .epic {
        background: linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(30, 87, 153, 0) 70%);
    }
    .legendary {
        background: linear-gradient(to right, rgba(203, 50, 50, 1) 0%, rgba(203, 50, 50, 0) 70%);
    }
    .godlike {
        background: linear-gradient(to right, rgba(191, 138, 38, 1) 0%, rgba(191, 138, 38, 0) 70%);
    }
    .text {
        color: #262626;
        text-shadow: none;
    }
}