<page-wrapper title="Bot Management">

    <!--<div class="row">
        <div class="col-xs-12 form-group">
            <button class="btn btn-danger" ng-click="rebootActiveBots()"><i class="fa fa-refresh"></i> Clear and Reboot all bots</button>
        </div>
    </div>-->

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bug fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ bots.length }}</div>
                            <div>Total bots</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-rocket fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ activeBots.length || 0 }}</div>
                            <div>Alive bots</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">0</div>
                            <div>Total pending trades right now</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-archive fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ calculateTotalStock(bots) }} / {{ bots.length * 1000 }}</div>
                            <div>Total Stock</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Bot</h3>
                </div>
                <div class="panel-body">
                    <form name="createBotForm" ng-submit="createBot(createBotForm.$valid, botUsername, botPassword, tradeUrl)" novalidate>
                        <div ng-show="submitted && createBotForm.$invalid" class="alert alert-danger" role="alert"><strong><i class="fa fa-exclamation-triangle"></i></strong> To add a bot, please add at least the username and password.</div>
                        <div class="form-group" ng-class="{'has-error': createBotForm.username.$invalid && submitted}">

                            <input name="username" type="text" class="form-control" ng-model="botUsername" placeholder="Username..." required>
                        </div>
                        <div class="form-group" ng-class="{'has-error': createBotForm.password.$invalid && submitted}">
                            <input name="password" type="password" class="form-control" ng-model="botPassword" placeholder="Password..." required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="tradeUrl" placeholder="Trade URL...">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" type="button">Create</button>
                        </div>
                    </form>
                </div>
            </div>

            <h2>Bot configs</h2>

            <div class="panel panel-default" ng-class="{ 'panel-success': bot.autoStart, 'panel-danger': bot.state === 'error' }" ng-repeat="bot in bots">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{{ bot.username }} <span ng-show="bot.autoStart === true">(auto-start)</span></h4>
                    <div class="pull-right">
                        <confirm-button pre-class="btn btn-warning btn-sm" confirm-class="btn btn-danger btn-sm" pre-text="Delete" confirm-text="Sure?" execute="deleteBot(bot)"><i class="fa fa-trash-o"></i>
                        </confirm-button>
                    </div>
                </div>
                <div class="panel-body">
                    <uib-tabset>
                        <uib-tab heading="Switches">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Deposit Bot</label>
                                    <div class="col-sm-9">
                                        <switch ng-model="bot.depositBot" ng-change="updateBot(bot)"></switch>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Bank Bot</label>
                                    <div class="col-sm-9">
                                        <switch ng-model="bot.bankBot" ng-change="updateBot(bot)"></switch>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Auto Start</label>
                                    <div class="col-sm-9">
                                        <switch ng-model="bot.autoStart" ng-change="updateBot(bot)"></switch>
                                    </div>
                                </div>
                            </form>

                        </uib-tab>
                        <uib-tab heading="Settings">
                            <form class="form-horizontal" ng-submit="updateBot(bot)">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Steam ID</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="bot.steamId" placeholder="76561197970000000" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Trade URL</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="bot.tradeUrl" placeholder="https://steamcommunity.com/tradeoffer/new/?partner=00000000&token=XXXXXXXX" />
                                    </div>
                                </div>

                                <div class="alert alert-warning" role="alert"><strong><i class="fa fa-exclamation-triangle"></i></strong> Be careful when changing these</div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Revocation Code</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="bot.twoFactor.revocationCode" placeholder="Revocation Code" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Identity Secret</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="bot.twoFactor.identitySecret" placeholder="Identity Secret" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Shared Secret</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="bot.twoFactor.sharedSecret" placeholder="Shared Secret" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>
                        </uib-tab>
                        <uib-tab heading="Two-Factor">
                            <!--<div ng-hide="bot.editTradeUrl" class="form-group">
                                <strong>Trade URL:</strong>
                                <span ng-hide="bot.tradeUrl">No Trade URL set</span> {{ bot.tradeUrl }}
                                <a href ng-click="bot.editTradeUrl = true">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>

                            <form ng-show="bot.editTradeUrl" name="tradeUrlForm" ng-submit="updateBot(bot); bot.editTradeUrl = false;">
                                <div class="form-group">
                                    <label>Update Trade URL</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="bot.tradeUrl" placeholder="https://steamcommunity.com/tradeoffer/new/?partner=00000000&token=XXXXXXXX" required>
                                        <span class="input-group-btn"><button type="submit" class="btn btn-primary btn-height-fix" type="button">Update <i class="fa fa-check"></i></button></span>
                                    </div>
                                </div>
                            </form>-->
                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="getTotp(bot)">Get Mobile Auth Code</button>
                            </div>

                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <p class="lead text-center" ng-show="bot.totp">Mobile Auth: <strong>{{ bot.totp.code }}</strong>
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" ng-class="{ 'progress-bar-danger': bot.totp.timeLeft < 5, 'progress-bar-warning': bot.totp.timeLeft < 10 }" style="width: {{ bot.totp.timeLeft / 30 * 100 }}%">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />

                            <button class="btn btn-primary" ng-click="enable2Fa(bot)" ng-disabled="bot.busy">Start Two-Factor Auth</button>
                            <form ng-submit="confirm2Fa(bot, twoFactorConfirmCode)">
                                <label>Confirm Two Factor</label>
                                <div class="input-group form-group">
                                    <input type="text" class="form-control" placeholder="SMS Confirmation Code" ng-model="twoFactorConfirmCode"><span class="input-group-btn"><button class="btn btn-primary btn-height-fix" type="submit">Confirm</button></span>
                                </div>
                            </form>
                        </uib-tab>

                        <uib-tab heading="Stock">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Item</th>
                                        <th>Asset ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="stockItem in bot.stock">
                                        <th scope="row">{{ $index + 1 }}</th>
                                        <td>{{ stockItem.item.item.marketName }}</td>
                                        <td>{{ stockItem.assetId }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-tab>

                        <uib-tab heading="Login">
                            <form ng-submit="test(bot)">
                                <div class="form-group">
                                    <label>Auth Code (Steam Guard)</label>
                                    <input type="text" class="form-control" ng-model="bot.authCode" placeholder="Auth Code">
                                    <p class="help-block">Entering the Auth Code will cause the server to try and save the bot's Sentry file</p>
                                </div>
                                <div class="form-group clearfix">
                                    <button type="submit" class="btn btn-primary pull-right" ng-disabled="bot.busy">
                                        <i ng-show="bot.busy" class="fa fa-spinner fa-pulse"></i> {{ !bot.authCode ? 'Try Logging In' : 'Try Logging In with Auth Code' }}
                                    </button>
                                </div>
                            </form>
                        </uib-tab>
                    </uib-tabset>

                    <div ng-show="bot.success" class="alert alert-success">
                        <strong>Well done!</strong> It worked!
                    </div>

                    <div ng-show="bot.error" class="alert alert-danger">
                        <strong>Oh snap!</strong> {{ bot.error }}
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h2>Alive bots <small>(Active bots)</small></h2>
            <div ng-repeat="bot in activeBots" class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ bot.document.username }}</h3>
                </div>
                <div class="panel-body">
                    {{ bot }}
                    <div class="form-group">
                        <label>Current Sent and Received Offers:</label>
                        <p>{{ bot.offers }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</page-wrapper>