.navbar-dark {
    background-color: #171717;
    border-color: #e7e7e7;
    a,
    li {
        color: #ffffff;
    }
}

.navbar-logo-container {
    position: relative;
    .navbar-logo {
        padding: 0 12px 0 0;
        img {}
    }
    .tag {
        position: absolute;
        top: 0;
        right: -16px;
        color: #bfbfbf;
        font-size: 0.8em;
    }
}

.nav {
    font-size: 1.5rem;
    .steam-signin {
        //padding: 13px;
        height: 50px;
        overflow: hidden;
        img:hover {
            opacity: 0.7;
        }
    }
    span {
        margin-bottom: 0px;
    }
    .override-padding {
        padding: 5px 15px 5px 15px;
    }
    .user {
        clear: both;
        height: 40px;
        font-size: 0.8em;
        .avatar {
            float: left;
            display: flex;
            justify-content: center;
            height: 100%;
            .vertical-align {
                align-self: center;
                display: absolute;
                img {
                    border-radius: 4px;
                }
            }
        }
        .details {
            float: left;
            padding-left: 15px;
            position: relative;
            text-align: left;
            .username {}
            .balance {
                .lp {
                    margin-left: 0.5em;
                }
                .pp {
                    margin-right: 0.5em;
                }
            }
        }
    }
    li {
        a {
            cursor: pointer;
        }
        &:hover > .dropdown-menu {
            display: block;
        }
        .dropdown-header {
            margin-left: 4px;
        }
    }
}

.navbar {
    margin-bottom: 0;
}

.unread-messages {
    position: absolute;
    background-color: #ef7012;
    border-radius: 50%;
    bottom: 13px;
    right: 10px;
    width: 6px;
    height: 6px;
}