<div class="navbar navbar-static-top" style=""></div>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-logo-container">
                <a ui-sref="main" class="navbar-brand navbar-logo"><img src="/assets/images/header-logo.png" alt="I'm Yeoman">
                </a>
                <div class="tag">BETA</div>
            </div>
        </div>
        <div uib-collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav" role="menu">
                <li ng-repeat="item in menu" ui-sref-active="active" uib-dropdown ng-class="{ 'disabled': item.disabled }">
                    <a ng-hide="item.subMenu" ui-sref="{{ item.link || 'home' }}" translate>{{item.title}}</a>
                    <a ng-show="item.subMenu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ui-sref="{{ item.link }}"><span translate>{{ item.title }}</span> <span class="caret"></span></a>
                    <ul ng-show="item.subMenu && !item.disabled" class="dropdown-menu" role="menu">
                        <li role="menuitem" ng-repeat="subItem in item.subMenu" ng-class="{ 'divider': subItem.divider, 'dropdown-header': subItem.header }">
                            <span ng-show="subItem.header">{{ subItem.title }}</span>
                            <a ng-hide="subItem.header" ui-sref="{{ subItem.link || 'home' }}" translate>{{ subItem.title }}</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" role="menu">
                <!--<li ng-show="isLoggedIn" uib-dropdown role="menuitem">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <div ng-show="hasUnreadMessages" class="unread-messages"></div>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="message in inboxMessages" role="menuitem">
                            <a ui-sref="account.inbox">
                                <div>
                                    <label translate>{{ message.title }}</label>
                                    <p translate>{{ message.message }}</p>
                                </div>
                            </a>
                        </li>
                        <li ng-show="inboxMessages.length == 0" role="menuitem">
                            <a>
                                <span translate>No new notifications</span>
                            </a>
                        </li>
                    </ul>
                </li>-->
                <li ng-show="isLoggedIn" ui-sref-active="active" uib-dropdown role="menuitem">
                    <a href class="dropdown-toggle override-padding" data-toggle="dropdown" role="button" aria-expanded="false">
                        <div class="user">
                            <div class="avatar">
                                <div class="vertical-align">
                                    <img ng-src="{{ getCurrentUser().avatar.small }}">
                                </div>
                            </div>
                            <div class="details">
                                <div class="username">
                                    <strong>{{ getCurrentUser().name }}</strong>
                                </div>
                                <div class="balance">
                                    <span class="pp">{{ getCurrentUser().balance.coin }} Coins</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul href="#" class="dropdown-menu" role="menu">
                        <li ng-repeat="item in userMenu" role="menuitem" ng-class="{ 'divider': item.divider, 'dropdown-header': item.header }">
                            <a ng-hide="item.divider || item.header" ui-sref="{{ item.link || 'main' }}"><i class="fa fa-{{ item.icon }} fa-fw"></i>&nbsp; <span translate>{{ item.title }}</span></a>
                            <span ng-show="item.header"><i class="fa fa-fw"></i>&nbsp; {{ item.title }}</span>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i>&nbsp; <span translate>NAVIGATION_BAR.ACCOUNT.LOG_OUT</span></a>
                        </li>
                    </ul>
                </li>

                <li ng-hide="true">
                    <a ui-sref="about">Partners</a>
                </li>

                <li ng-click="redirectToSteam()" ng-hide="isLoggedIn">
                    <a class="steam-signin" href><img src="/assets/images/steam-signin.png" alt="Signin through Steam">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>