<div class="container">
    <div ng-show="user.tradeUrl" class="row">
        <div ng-hide="steamInventory" class="col-sm-10 text-center">
            <i class="fa fa-cog fa-5x fa-spin"></i>
            <h3 translate>ACCOUNT.LOADING_INVENTORY_FROM_STEAM</h3>
        </div>
        <div ng-show="steamInventory" class="col-sm-10">
            <div deckgrid class="deckgrid" source="steamInventory" cardTemplate="components/deckgrid-card/item-card.html"></div>
        </div>
        <div ng-show="steamInventory && steamInventory.length === 0" class="col-sm-10 text-center">
            <i class="fa fa-frown-o fa-5x"></i>
            <h3 translate>ACCOUNT.INVENTORY_EMPTY</h3>
        </div>

        <div class="col-sm-2 side-nav-no-padding">
            <div class="panel panel-default" role="complementary" data-offset-top="-80" bs-affix>
                <div class="panel-body">
                    <label translate>ACCOUNT.ITEM_SUMMARY.SELECTED</label>
                    <p class="lead" translate>{{ itemUtilityService.getCount(steamInventory) || 'None' }}</p>
                    <label translate>ACCOUNT.ITEM_SUMMARY.VALUE</label>
                    <p class="lead">{{ itemUtilityService.getTotalCostInCoins(steamInventory) }} Coins</p>
                </div>
                <div class="panel-footer">
                    <button ng-hide="depositing" class="btn btn-primary btn-block" ng-click="deposit()" translate>ACCOUNT.ITEM_SUMMARY.GET_COIN</button>
                    <button ng-show="depositing" class="btn btn-success btn-block" disabled><i class="fa fa-spinner fa-pulse fa-fw fa-lg"></i><span translate>ACCOUNT.ITEM_SUMMARY.DEPOSITING</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div ng-hide="user.tradeUrl" class="row">
        <h1>Please add your Trade URL to continue</h1>
    </div>
</div>